/*

 * jQuery FlexSlider v1.8

 * http://www.woothemes.com/flexslider/

 *

 * Copyright 2012 WooThemes

 * Free to use under the MIT license.

 * http://www.opensource.org/licenses/mit-license.php

 */



/* Browser Resets */

.flex-container a:active,

.flexslider a:active,

.flex-container a:focus,

.flexslider a:focus  {outline: none;}

.slides,

.flex-control-nav,

.flex-direction-nav {margin: 0; padding: 0; list-style: none;}



/* FlexSlider Necessary Styles

*********************************/

.flexslider {margin: 0;}

.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;





} /* Hide the slides before the JS is loaded. Avoids image jumping */

.flexslider .slides img {width: 100%; display: block; }

.flex-pauseplay span {text-transform: capitalize;}



.flexslider_loader{

	background: url(../images/loader.gif) no-repeat 50% 50% transparent;

	width: 31px;

	height: 31px;

	position: absolute;

	top: 290px;

	left: 400px;

}

.flexslider img{

	opacity: 1;

}



/* Clearfix for the .slides element */

.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}

html[xmlns] .slides {display: block;}

* html .slides {height: 1%;}



/* No JavaScript Fallback */

/* If you are not using another script, such as Modernizr, make sure you

 * include js that eliminates this class on page load */

.no-js .slides > li:first-child {display: block;}





/* FlexSlider Default Theme

*********************************/

.flexslider {position: relative;zoom: 1;}

.flexslider .slides {zoom: 1;}

.flexslider .slides > li {position: relative; }

/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */

.flex-container {zoom: 1; position: relative;}



/* Caption style */

/* IE rgba() hack */


.flex-caption {   
    color: #FFFFFF;
    position: absolute;
    text-align: center;
    top: 35%;
    width: 100%;
    z-index: 2;
	}

.flex-caption a.more-link {
    background-color: #E85C41;
    border: medium none;
    border-radius: 4px;
    color: #FFFFFF;
    display: block;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 1.75;
    margin: 40px auto 0;
    max-width: 150px;
    outline: medium none;
    padding: 12px 24px;
    text-align: center;
    text-transform: capitalize;
}

.flex-caption a:hover{
	background: #BD692E;
	text-decoration: none;

}

/* Direction Nav */

.flex-direction-nav { height: 0; display: block;  z-index: 9999;}

.flex-direction-nav li a {

text-indent: -999em;

width: 46px; 

height: 93px; 

display: block;

position: absolute;

top:40%;

cursor: pointer;

-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";

filter: alpha(opacity=20);

opacity: 0.8;

z-index: 9999;

}

.flex-direction-nav li .flex-next {  

    background: url("../images/slider-control-right.png") no-repeat scroll 0 0 transparent;

    right: 0;

}

.flex-direction-nav li .flex-prev {

    background: url("../images/slider-control-left.png") no-repeat scroll 0 0 transparent;

    left: 0;

}



.flex-direction-nav li .flex-next:hover {  

	background: url("../images/slider-control-right.png") no-repeat scroll 0 -92px transparent;

}



.flex-direction-nav li .flex-prev:hover {

	background: url("../images/slider-control-left.png") no-repeat scroll 0 -92px transparent;

}





.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}



/* Control Nav */

.flex-control-nav {width: 100%; bottom:-3px; text-align: center; z-index: 9999;}

.flex-control-nav li {margin: 0 5px !important; display: inline-block; zoom: 1; *display: inline; padding: 0 !important;}


.flex-control-nav li a {

    background: none repeat scroll 0 0 #E4E4E4;

    border-radius: 30px 30px 30px 30px;

    cursor: pointer;

    display: block;

    height: 10px;

    text-indent: -9999px;

    width: 10px;

	}

.flex-control-nav li a:hover { background: none repeat scroll 0 0 #BD692E;}

.flex-control-nav li a.flex-active{    

	background: none repeat scroll 0 0 #744F35 !important;

    cursor: default;}



#carousel_slider li { margin-right: 30px;}

#carousel_slider li:last-child { margin: 0}

#carousel_slider img { display: block; opacity: .5; cursor: pointer; height: auto;}

#carousel_slider img:hover { opacity: 1;}

#carousel_slider .flex-active-slide img {opacity: 1; cursor: default;}


.carousel li {
    margin-right: 30px;
}

.carousel 0l {

	margin-bottom: 20px;

}

#slider .slides > li{
	min-height: 570px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}