@charset "UTF-8";
/* CSS Document */
/*
$darkpurplegradient: linear-gradient(-145deg, #5A336A 0%, #5C366B 50%, #755377 100%);
$darkpurplegradient-reverse: linear-gradient(145deg, #5A336A, #755377);
$pagebg-drkpurple: linear-gradient(145deg, #7A6194 0%, #755377 100%);
$greengradient: linear-gradient(259deg, #819394 0%, #506B6D 95%);
$lightpurplegradient:linear-gradient(145deg, #94618E 0%, #93608D 3%, #93608D 3%, #7D487A 100%);
*/


.billboard .inner {opacity: 1 !important; animation: none;}

.article-header.heading--purple {
	background: #94618E;
}

.article-header.heading--darkpurple, .footer, #globalheader, #content.page--home  {
	background: #5A336A;
}

.article-header.heading--green, #callnow {
	background: #506B6D;
}

#header__searchform, .article-header {
	background: #5A336A;
}
.duo__img, .duo__gallery {background-size: auto 100% !important; height: 700px;}
.acf-map {height: 530px !important;}
.duo__media {height: 700px; background: url(../images/compressed/cfc-ie-fallback.jpg)}

.module--custom, .staff--carousel {display: none !important;}