@charset "UTF-8";

/*********************************************
Table of Contents for SLATE STYLING 
================================================
01 TYPOGRAPHY
    1.1 Global Typography Settings
    -----------------------
    1.2 Headings
    -----------------------
    1.3 Paragraph, Blockquotes 
    -----------------------
    1.4 List Items 
    -----------------------
    1.5 Miscellaneous Inline Items 
    -----------------------
    1.6 Modules 
    -----------------------
    1.6 Shortcodes
==============================================
02 LAYOUT   
    2.1 Global Layout elements 
    -----------------------
    2.2 Header
        A. Navigations
        B. Sticky Navigation
        C. Dropdown Megamenu
    -----------------------
    2.3 Footer 
    -----------------------
    2.4 Page & Content
        A. Modules 
            I. Billboard 
            II. Carousel
            III. Contact Map
            IV. Wordpress Content Module 
            V. Custom PHP module 
            VI. Deck
                a. Basic Card
                b. Business card 
                c. Icon Card
                d. Testimonial Card 
                e. Highlight Card
                f. Wild Card 
            VII. Duo 
            VIII. Gallery 
            IX. Insurance 
            X. Spotlight
            XI. Wisywig
        B. Home page 
        C. Landing page 
        D. Default page 
        E. Resources page 
        F. Shortcodes 
    -----------------------
    2.5 Sidebar 
    
================================================
03 UI ELEMENTS
    3.1 Buttons 
    -----------------------
    3.2 Forms and Inputs
    -----------------------
    3.3 Popovers 

================================================
04 MEDIA QUERIES
    4.1 Tablet Size / 768px - 1024px 
        A. Typography 
        B. Layout 
        C. UI Elements 
    -----------------------
    4.2 No Man's land Tweener / 641px-767px 
        A. Typography 
        B. Layout 
        C. UI Elements 
    -----------------------
    4.3 Mobile /640px and down 
        A. Typography 
        B. Layout 
        C. UI Elements 
    -----------------------
    4.4 Very Small
    -----------------------
    4.5 @Media Print Specific Styles 

================================================
*******************************************/


/****======================================================== 01 TYPOGRAPHY ==================================================****/

/**----- 01 TYPOGRAPHY // 1.1 Global Typography Settings-----**/
html {
    font-size: 15px; /** this font size determines the baseline for all padding and margin units using ems or rems throughout the theme*/
}
body {
    font-family: arial, sans-serif;
}
a {
    color: #333;
    text-decoration: none;
}
.slider__container, .staff-carousel .staff__container {
    opacity: 0;
    transition: all 0.4s ease;
}
a:link,
a:visited:link {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}


#content .entry-content p, #content .entry-content ul, #content .entry-content ol, #content .content-shortcode-row, #content .callout, #content .tabs-title>a, #content .accordion-title, .header #top-bar-menu   {
    line-height: 1.5;
    font-size: 1.125rem;
}
.button { 
    font-size: 1em;
}
.button--social {
    text-align: center;
}

.button--social i {
    font-size: 2em;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}

/**----- 01 TYPOGRAPHY // 1.2 Headings -----**/
h1, h2, h3, h4, h5 {
    font-family: inherit;
    line-height: 120%;
}

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a {
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    text-transform: none;
    margin-bottom: 1rem;
}
 h2 {
    font-size: 1.8667rem;
    text-transform: none;
    margin: 1em 0 1em;
}
 h3 {
    font-size: 1.325rem;
}

 h4, h5 {
    font-size: 1.35rem;
}
#content .entry-content blockquote h1,
#content .entry-content blockquote h2,
#content .entry-content blockquote h3,
#content .entry-content blockquote h4,
#content .entry-content blockquote h5 {
    font-size: 2.5rem;
}


/**----- 01 TYPOGRAPHY // 1.3 Paragraphs, Blockquotes -----**/
#content .entry-content blockquote, #content .entry-content blockquote.inverse {  
    padding: 60px 85px;
    position: relative;
}

#content blockquote::before,
#content blockquote::after {
    display: table;
    clear: both;
    content: "";
}

#content cite::before {
    content: none;
}
#content .entry-content blockquote p {
    font-size: 1.875rem;
    line-height: 120%;
}
#content #inner-content #intro-page-section p, #content .entry-content .callout-text p, #content .callout-text {
    font-size: 1.5rem;
}

/**----- 01 TYPOGRAPHY // 1.4 List Items -----**/
#content ul,
#content ol {}

#content ul li,
#content ul li {}


/**----- 01 TYPOGRAPHY // 1.5 Miscellaneous Inline Items  -----**/
i.fa {
    /**for when we put font awesome icons inside a h1 **/
}

/**----- 01 TYPOGRAPHY // 1.6 Modules  -----**/

/****======================================================== 02 LAYOUT ==================================================****/

/**----- 02 LAYOUT // 2.1 Global Layout elements -----**/

/*FRN plugin override*/
.lhn_help_btn,
#frn_floating_footer {
    display: none !important;
}

.inner {
    max-width: 1400px; /***changing this will change the containing boundary for the entire site also needs to change for .header #top-bar-menu ul.mega-menu li.has-dropdown-arrow > div.mega-menu-wrapper > div.mega-menu***/
    margin: auto;
    position: relative;
    width: 100%;
}

.inner.expanded {
    max-width: none;
}

.inner::before,
.inner::after {
    clear: both;
    display: table;
    content: "";
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

/**----- 02 LAYOUT // 2.2 Header -----**/
.header #top-section {
}
.header #top-section #logo {
    max-width: 265px;
    display: block;
    width: 100%;
    padding-left: 1rem;
}

/** 02 LAYOUT // 2.2 Header /// A. Navigation **/
.header #top-bar-menu {
    padding: 0;
}
.header #top-bar-menu .top-bar-left {
    width: 90%;
}
.header #top-bar-menu .top-bar-right{
    width: 10%;
}

.header .top-bar.has-title-bar#top-bar-menu .top-bar-left {
    width: 14%;
}

.header .top-bar.has-title-bar#top-bar-menu .top-bar-right {
    width: 70%;
}

.header #top-bar-menu ul {
    background: none;
}

.header .top-bar.has-title-bar#top-bar-menu ul.is-dropdown-submenu {
    background: #fefefe;
}

.header #top-bar-menu ul li a {
    padding: 1.6rem 2em;

}
.header #top-bar-menu .dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a::after {
    border-color: #ccc transparent transparent;
    right: 10px;
}
.header.sticky {z-index: 10;}

/*User based Navigation*/

#rightcontent {
}
#user-based {margin-top: .25em;}
#user-based ul {
}
#user-based ul li a:first-child {padding-left: 0;}

#user-based ul li a, #user-based ul li a:hover {
    transition: all ease .2s;
}
#top-section #phone {
}

#top-section #phone {
     line-height: 100%;
}

/**Off Canvas Menu for Mobile***/

.off-canvas .menu>li>a {
    background: none;
    font-weight: 400;
    text-transform: none;
    font-size: 1.125rem;
    padding: 0.7rem 1.5rem;
}
.off-canvas .menu>li>.submenu>li {
    border-bottom: medium none;
}
.off-canvas .menu>li>.submenu>li>.submenu {
    margin: 10px 0 10px 10px;
}
.off-canvas .menu>li>.submenu>li>.submenu a {
    font-size: .875rem;
}
.off-canvas .menu>li>.submenu>li a {
    text-transform: none;
    padding: 2px 0;
    font-size: .9375rem;
}
.off-canvas .menu>li>.submenu {
    margin: 0 0 1rem 1.5rem;
}
.off-canvas #userbased-mobile {
     padding: 1rem 1.5rem;
    }
.off-canvas #userbased-mobile li {
    border: medium none;
    display: block;
}   
.off-canvas #userbased-mobile li a {
    font-weight: 400;
    padding: 5px 0;
    text-transform: none;
}
.off-canvas .offcanvas-phone {
      padding: 1rem 1.5rem;
}
.off-canvas .offcanvas-phone span.phone {
    font-size: 1.5rem;
}

/** 02 LAYOUT // 2.2 Header // B. Sticky Navigation **/

/*.header.sticky {
    position: fixed;
    width: 100%;
    z-index: 10;
    -webkit-transition: all ease .1s;
    transition: all ease .1s;
    top: 0;
    left: 0;
}
.header.sticky #top-section {
    -webkit-transition: all ease .1s;
    transition: all ease .1s;
    padding: 8px 0;
    background: #fff;
}

.header.sticky #logo-icon {
    display: block;
    float: left;
    width: 60px;
}

.header.sticky #top-section #leftcontent {
    width: 15%;
}

.header.sticky #top-section #rightcontent {
    margin-top: 20px;
    padding-left: 50px;
    width: 85%;
}
*/
.header.sticky #top-section{
    background: #fff;
}
.sticky {
    position: static;
}



/** 02 LAYOUT // 2.2 Header // C. Megamenu **/
.header #top-bar-menu ul.mega-menu li.has-dropdown-arrow>a::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #2199e8 transparent transparent;
    border-image: none;
    border-style: solid inset inset;
    border-width: 6px 6px 0;
    content: "";
    display: block;
    height: 0;
    margin-top: -2px;
    width: 0;
     position: absolute;
    right: 5px;
    top: 50%;
}
.header #top-bar-menu ul.mega-menu li.has-dropdown-arrow>a::after {
    border-color: #ccc transparent transparent;
    right: 10px;
}

.header #top-bar-menu ul.mega-menu li.has-dropdown-arrow>a:hover::after,
.header #top-bar-menu ul.mega-menu li.has-dropdown-arrow>a.mm_link.hover::after {
}

.header #top-bar-menu ul.mega-menu li a {
    position: relative;
    transition: all ease .15s;
}
.header #top-bar-menu ul.mega-menu li a:hover {
    transition: all ease .15s;
}

.header #top-bar-menu ul.mega-menu li.has-dropdown-arrow>div.mega-menu-wrapper {
    background: #ffffff none repeat scroll 0 0;
    visibility: hidden;
    left: 50%;
    position: absolute;
    top: 100%;
    -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    width: 100vw;
    z-index: 100004; 
    overflow: hidden;
    opacity: 0;
    transition: all 0.2s ease;
    height:  0;
}

.header #top-bar-menu ul.mega-menu li.has-dropdown-arrow:hover > div.mega-menu-wrapper, .header #top-bar-menu ul.mega-menu li.has-dropdown-arrow div.mega-menu-wrapper.showmenu {
  visibility: visible !important;
  opacity: 1;
  transition: all 0.2s ease;
    height:  auto;
}

.header #top-bar-menu ul.mega-menu li.has-dropdown-arrow>div.mega-menu-wrapper>div.mega-menu::after,
.header #top-bar-menu ul.mega-menu li.has-dropdown-arrow>div.mega-menu-wrapper>div.mega-menu::before {
    content: "";
    clear: both;
    display: table;
}

.header #top-bar-menu ul.mega-menu li.has-dropdown-arrow>div.mega-menu-wrapper>div.mega-menu {
    margin: auto;
    max-width: 1400px;/***this should match the global class of .inner ***/
    position: relative;
    padding: 30px 0;
}

/*Megamenu widgets*/

.header #top-bar-menu ul.mega-menu li.has-dropdown-arrow>div.mega-menu-wrapper>div.mega-menu>div {
    width: 33%;
    float: left;
    box-sizing: border-box;
    padding: 0 2%;
}

.header #top-bar-menu ul.mega-menu li.has-dropdown-arrow>div.mega-menu-wrapper>div.mega-menu>div:nth-child(3) {
    /*width: 40%*/
}

.header #top-bar-menu ul.mega-menu li.has-dropdown-arrow>div.mega-menu-wrapper>div.mega-menu>div:nth-child(1) {
    height: 100%;
    /*margin-right: 2%;*/
    min-height: 250px;
    padding-right: 15px;
    /*width: 25%;*/
    z-index: 1;
    position: relative;
}

.header #top-bar-menu ul.mega-menu li.has-dropdown-arrow>div.mega-menu-wrapper>div.mega-menu ul li {
    display: block;
}
.header #top-bar-menu ul.mega-menu li.has-dropdown-arrow>div.mega-menu-wrapper>div.mega-menu ul li>ul.sub-menu {
    margin: 0 15px 5px;
}

.header #top-bar-menu ul.mega-menu li.has-dropdown-arrow>div.mega-menu-wrapper>div.mega-menu ul li>ul.sub-menu li {
    line-height: 110%;
}

.header #top-bar-menu ul.mega-menu li.has-dropdown-arrow>div.mega-menu-wrapper>div.mega-menu ul li>ul.sub-menu li a {
    font-size: .875rem;
    padding: 0;
}
.header #top-bar-menu ul.mega-menu li.has-dropdown-arrow>div.mega-menu-wrapper>div.mega-menu ul li a:hover {
    background: none;
}

.header #top-bar-menu ul.mega-menu li.has-dropdown-arrow>div.mega-menu-wrapper>div.mega-menu p {
    font-size: 1em;
    line-height: 130%;
}
.header #top-bar-menu ul.mega-menu li.has-dropdown-arrow>div.mega-menu-wrapper>div.mega-menu ul li a {
    border: medium none;
    color: #62615c;
    font-size: 0.9375em;
    padding: 4px 0;
    text-transform: none;
    letter-spacing: 0;
}
.header #top-bar-menu ul.mega-menu li.has-dropdown-arrow>div.mega-menu-wrapper>div.mega-menu h1.megatitle {
    font-size: 1.71875em;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1;
    margin-bottom: 5px;
}

.header #top-bar-menu ul.mega-menu li.has-dropdown-arrow>div.mega-menu-wrapper>div.mega-menu .widget_text a.button {
    border: medium none;
    color: #fff;
    display: block;
    padding: 15px;
    transition: all 0.25s ease 0s;
}

.header #top-bar-menu ul.mega-menu li.has-dropdown-arrow>div.mega-menu-wrapper>div.mega-menu .widget_text a.button:hover {
    transition: all ease .25s;
}


/**----- 02 LAYOUT // 2.3 Footer -----**/

.footer {
    clear: both;
}

#callnow {
    background: #8d8d8d;
    padding: 4em 0;
    text-align: center;
    color:  #fff;
}


#callnow .inner {
    box-sizing: border-box;
}

#callnow h1 {}

#callnow p {
    font-size: 1.156rem;
}

#callnow h1.phonenumber {
    font-size: 2.875rem;
    letter-spacing: 0.125em;
   
}

#callnow h1.phonenumber a {
    text-decoration: none !important;
}

/**map and contact info in footer **/

#location {

}

.footer,
.frn_footer {
    background: #8d8d8d;
}

.frn_footer {padding: 2em 1rem 7em}
.frn_footer p {
    margin-bottom: 0;
    color: #fff;
}

.footer .menu>li {
    display: block;
    float: left;
    text-transform: none;
    vertical-align: top;
    width: 16.66%;
    box-sizing: border-box;
    padding-right: 1%;
 
}
.footer .menu>li:last-child {
    padding-right: 0;
}

.footer .menu>li a {
    padding: 0;
}
.footer .menu .active>a {
    background: none;
}

.footer .menu>li ul li {
    text-transform: none;
    font-size: 15px;
    display: block;
    float: none;
    width: 100%;
 
}

.footer .menu>li ul {
    list-style: outside none none;
    margin: .75em 0 0 0;
}

.footer .menu>li>ul li>ul.sub-menu {
    display: none;
}

.footer #logo {
    max-width: 235px;
}

.footer .footer-branding {
    padding: 2em;
}

.footer .footer-branding img.bbb {}

.map-container iframe {
    width: 100%;
    display: block;
    pointer-events: none;
    position: relative;
    /* IE needs a position other than static */
}

.map-container iframe.clicked {
    pointer-events: auto;
}
.footer #privacypolicy {
    padding:  2em 0;
}
.footer #privacypolicy p {
    text-align:  left;
}


/**----- 02 LAYOUT // 2.4 Page & Content -----**/

/** 02 LAYOUT // 2.4 Page & Content// A. Modules **/

/* 02 LAYOUT // 2.4 Page & Content// A. Modules //  I. Billboard  */

.billboard__holder {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.billboard__holder--video {
    position:  relative;
    height:  100%;
}


.billboard__video {
    position: relative;
}
a.button__circle {
    
 }
.card--billboard--center.columns {
    float: none !important;
    text-align: center;
}

.slide.slide--billboard .card.card--billboard {
    padding: 140px 0px;
}

        /* 02 LAYOUT // 2.4 Page & Content// A. Modules //  II. Carousel */
        .carousel #slider-next, .carousel #slider-prev,
        .carousel #pageitems-next, .carousel #pageitems-prev {
            font-size: 5em;
            position: absolute;
            top: 30%; 
        }
        
        .carousel #slider-prev,
        .carousel #pageitems-prev {
            left: 0;
        }
        .carousel #slider-next,
        .carousel #pageitems-next {
            right: 0;
        }
            
        /* 02 LAYOUT // 2.4 Page & Content// A. Modules //  III. Contact Map */
        .contact__img {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            min-height: 100px;
        }
        /* 02 LAYOUT // 2.4 Page & Content// A. Modules //  IV. Wordpress Content Module  */
        /* 02 LAYOUT // 2.4 Page & Content// A. Modules //  V. Custom PHP module  */
        /* 02 LAYOUT // 2.4 Page & Content// A. Modules //  VI. Deck */
                /* 02 LAYOUT // 2.4 Page & Content// A. Modules //  VI. Deck //  a. Basic Card */
                /* 02 LAYOUT // 2.4 Page & Content// A. Modules //  VI. Deck //  b. Business card  */

                /* 02 LAYOUT // 2.4 Page & Content// A. Modules //  VI. Deck //  c. Icon Card */
                
                /* 02 LAYOUT // 2.4 Page & Content// A. Modules //  VI. Deck //  d. Testimonial Card */
                /* 02 LAYOUT // 2.4 Page & Content// A. Modules //  VI. Deck //  e. Highlight Card */
                .card--highlight {
                  padding: 0px 5px;
                  margin-bottom: 0px;
                }

                .highlight__box {
                  background-position: center;
                  background-size: cover;
                  background-repeat: no-repeat;
                }
                /* 02 LAYOUT // 2.4 Page & Content// A. Modules //  VI. Deck //  f. Wild Card */
        /* 02 LAYOUT // 2.4 Page & Content// A. Modules //  VII. Duo  */
                .duo--gallery .bx-viewport,
                .duo--gallery .bx-viewport .slide--duo {
                    min-height: 1px;
                }

                .duo__img, .duo--gallery .bx-viewport .slide--duo {
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                }

                .duo--gallery .bx-wrapper, .duo--gallery .bx-viewport {
                }
            

                .embed-responsive {
                  position: relative;
                  display: block;
                  height: 0;
                  padding: 0;
                }
                .embed-responsive .embed-responsive-item,
                .embed-responsive iframe,
                .embed-responsive embed,
                .embed-responsive object,
                .embed-responsive video {
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  border: 0;
                }
                .embed-responsive-16by9 {
                  padding-bottom: 56.25%;
                }
                .embed-responsive-4by3 {
                  padding-bottom: 75%;
                }

             

        /* 02 LAYOUT // 2.4 Page & Content// A. Modules //  VIII. Gallery  */
        

        /* 02 LAYOUT // 2.4 Page & Content// A. Modules //  IX. Insurance */

        [class*="large-up-"].text-center {
            font-size: 0;
        }
        [class*="large-up-"].text-center > .insurance__logo {
            float: none;
            display: inline-block;
        }
        [class*="medium-up-"].text-center {
            font-size: 0;
        }
        [class*="medium-up-"].text-center > .insurance__logo {
            float: none;
            display: inline-block;
        }

        /* 02 LAYOUT // 2.4 Page & Content// A. Modules //  X. Spotlight */
        .spotlight--background {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .card.card--spotlight {
            text-align: center;
        }
        /* 02 LAYOUT // 2.4 Page & Content// A. Modules //  XI. Wisywig */

/** 02 LAYOUT // 2.4 Page & Content// B. Home page **/
#insurance img {
    max-width: 225px;
    margin: auto;
    display: block;
    width: 100%;
}

/** 02 LAYOUT // 2.4 Page & Content// C. Landing page **/
#content.page--landing .entry-content {
    padding: 2em 0;
}

#content #inner-content #intro-page-section #admission-video {
    min-height: 330px;
}


/** 02 LAYOUT // 2.4 Page & Content// D. GLobal & Default page styles **/
.article-header {
    background: #8d8d8d;
    position: relative;
    padding:  2em 0;
}

.article-header h1.page-title {
    color: #fff;
    text-align: center;
    margin: auto;
    text-transform: none;
    font-size: 3em;
    word-wrap: break-word;
    z-index: 1;
    position: relative;
    line-height: 115%;
    font-weight:  300;
}
.fullscreen-bg {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

.fullscreen-bg__video {
    height: auto;
    left: 0;
    position: absolute;
    width: 100%;
}

#content {
    min-height: 600px;
}

#content .entry-content {
    padding: 2em;
}

#content .entry-content::after {
    /*clears the floating elements inside content**/
    display: table;
    clear: both;
    content: "";
}
#content.with-sidebar #inner-content #intro-page-section {padding: 1em 2em 0;}


/** 02 LAYOUT // 2.4 Page & Content// E. Resources page **/

/*generic wordpress styles*/

.page-title .vcard {
    border: 0px;
    padding: 0px;
}

.entry-content img {
    max-width: 100%;
    height: auto;
}

.entry-content .alignleft,
.entry-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
}

.entry-content .alignright,
.entry-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
}

.entry-content .aligncenter,
.entry-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
}

.entry-content video,
.entry-content object {
    max-width: 100%;
    height: auto;
}

.wp-caption {
    max-width: 100%;
    background: #eee;
    padding: 5px;
}

.wp-caption img {
    max-width: 100%;
    margin-bottom: 0;
    width: 100%;
}

.wp-caption p.wp-caption-text {
    font-size: 0.85em;
    margin: 4px 0 7px;
    text-align: center;
}

.post-password-form input[type="submit"] {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: all 0.25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 0.85em 1em;
    margin: 0 1rem 1rem 0;
    font-size: 0.9rem;
    background: #2199e8;
    color: #fff;
}

[data-whatinput='mouse'] .post-password-form input[type="submit"] {
    outline: 0;
}

.post-password-form input[type="submit"]:hover,
.post-password-form input[type="submit"]:focus {
    background: #1583cc;
    color: #fff;
}

/*page headers*/
.article-header.page--resources {}

#content.page--resources {
}

#content.page--resources .post_holder .post::after {
    display: table;
    clear: both;
    content: "";
}

#content.page--resources .post_holder .post .button {
    width: 48.5%;
}

#content.page--resources .post_holder .post .button.excerpt-read-more {
    margin-right: 1.5%;
}

#content.page--resources .post_holder .post.even .columns {
    float: right;
}

#content.page--resources .post_holder .featured_image a {
    display: block;
}


/*pagination on resources page*/

#content .page-navigation .pagination::after {
    clear: both;
    content: "";
    display: table;
}

#content .page-navigation .pagination {
    margin: auto;
    position: relative;
}

#content .page-navigation .pagination li {
    background: #fff;
    display: block;
    float: left;
}

#content .page-navigation .pagination li.current {
    padding: 0;
}


#content .page-navigation .pagination .current span {
    color: #fff;
    background: #888;
}

#content .page-navigation .pagination li a,
#content .page-navigation .pagination li span {
    font-size: inherit;
    display: block;
    margin-right: .3em;
    padding:  1em 2em;
    border:  1px solid #ccc;
}

#content .page-navigation .pagination li.next a,
#content .page-navigation .pagination li.prev a {}


/** 02 LAYOUT // 2.4 Page & Content// F. Shortcodes **/
#content .content-shortcode-row {
    margin-bottom: 1em;
}
/***====callout box====***/
#content .callout { 
    padding: 2rem;
    border: 1px solid #ccc;
    }
#content .callout .button {
    margin-top: 1rem;
}   
/***====tabs====***/
#content .tabs-title {}
#content .tabs-title>a {}
#content .tabs {border-bottom: medium none;}
#content .accordion-title:hover {
    transition: all ease .25s;}

#content #inner-content .divider {
    height: 1px;
    background: #555;
    width: 100%;
    box-shadow: 0px 1px #ffffff;
    margin: 1em 0;
}
/**Orbit slider shortcode**/
#content .orbit-container {
    margin: 1em 0;
}

/**----- 02 LAYOUT // 2.5 Sidebars -----**/
.widget ul {
    margin: 0;
}

.widget ul li {
    list-style: none;
}


#sidebarcontent {
    width: 100%;
}

.sidebarinside {}


/*widget title on resources/post page **/
#sidebar1 h4.widgettitle {
    padding: 1rem;
    text-align: inherit;
    text-transform: none;
    word-break: normal;
}

#sidebar1 h2.sidebarpagetitle {
    padding: 1em;
    background: #eee;
    margin:  0;
}


#content.page--resources #sidebar1 h2.sidebarpagetitle,
#content.singlepost #sidebar1 h2.sidebarpagetitle {
    display: none;
}

#sidebar1 .sidebarinside ul,
#sidebar1 .sidebarinside ol,
#sidebar1 .sidebarinside p {
    margin-bottom: 1rem;
    padding: 0 1rem;
}

#sidebar1 .sidebarinside .widget ul li {
    line-height: 1.2;
    margin-bottom: .3em;
    padding-bottom: .3em;
}

/***Sidebar menu styling on tertiary pages with sidebar**/

#sidebar1 .menu-about-sub-menu-container {}

#sidebar1 ul.menu {
    margin: 0;
    padding: 0;
}

#sidebar1 ul.menu li {
    display: block;
}

#sidebar1 ul.menu li>ul.sub-menu {
    font-size: 0.9375rem;
    margin: 0;
    padding: .6em 0 .6em 3em;
}

#sidebar1 ul.menu li>ul.sub-menu li a {
    padding: 0;
}


#sidebar1 ul.menu li a {
    line-height: 140%;
    padding: .6em 2em;
}

#sidebar1 ul.menu li a:hover,
#sidebar1 ul.menu .active>a {}


/****======================================================== 03 UI ELEMENTS ==================================================****/
/**----- 03 UI ELEMENTS // 3.1 Buttons -----**/
.button {
    border: medium none;
    padding: 1em 2em;
    background: #bbb;
}
.button:hover {background: #aaa;}

/**social buttons**/

.button--social {
    border: medium none;
    color: #fff;
    height: 3.6rem;
    padding: .8em 0;
    transition: all 0.1s ease 0s;
    width: 3.6rem;
}
.button--social:hover>i {}

/*
#facebook.button--social {
    background: #3b5999;
}

#facebook.button--social:hover {
    background: #fff;
}

#facebook.button--social:hover>i {
    color: #3b5999;
}

#twitter.button--social {
    background: #2aa8e0;
}

#twitter.button--social:hover>i {
    color: #2aa8e0;
}

#youtube.button--social {
    background: #cc3732;
}

#youtube.button--social:hover>i {
    color: #cc3732;
}

#google.button--social {
    background: #cc3732;
}

#google.button--social:hover>i {
    color: #cc3732;
}

#pinterest.button--social {
    background-color:  #BD081C;
}
#pinterest.button--social:hover>i {
    color:  #BD081C;
}*/

.button--social:hover,
.button--social:active {
    transition: all ease .1s;
}

.button--social:hover {
}

.button--social:active {
    box-shadow: 0 0 1px 4px rgba(0, 0, 0, 0.2) inset;
}

/**content buttons **/
#content .button:active,
#content .button:focus {
    box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.1) inset;
}
#content .button.full {
    display: block;
}

/**orbit slider buttons**/
#content .orbit-next,
.orbit-previous {
    background: #fff;
    color:  #454545;
    font-size: 2rem;
    height: 4rem;
    padding: 1rem;
    width: 4rem;

}

#content .orbit-next {
    border-right: medium none;
}

#content .orbit-previous {
    border-left: medium none;
}

#content .orbit-next:active,
#content .orbit-next:focus,
#content .orbit-next:hover,
#content .orbit-previous:active,
#content .orbit-previous:focus,
#content .orbit-previous:hover {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    opacity: 1;
}

/**search buttons styling globally**/
#sidebar1 .search-form .search-submit.button, #header-search .search-form .search-submit.button, #top-bar-menu .search.button, #offcanvas_search .search-submit.button {
    background: #bebebe url("../images/search.svg") no-repeat scroll center center / 23px auto;
        box-sizing: border-box;
    border: medium none;
    color: #fff;
    float: left;
    font-weight: 400;
    padding:  1em;
    width: 25%;
    box-shadow: none;
}
#offcanvas_search .search-submit.button { 
    padding: 1em;
    max-width: 80px;
}


/**hides the search text in the sidebar search button **/
#sidebar1 .search-form .search-submit.button, #offcanvas_search .search-submit.button  {
    text-indent: -9999em;
 }
/**removes the background image of the magnifying glass on the expanded search bar in header **/
#header-search .search-form .search-submit.button {
    background-image: none;
}

/**this is a specific instance for the search button in the navigation**/
#top-bar-menu .search.button {
    box-shadow: none;
    margin: 0;
    padding: 1em 2em;
    height: 60px;
    width: 100%;
}

/*styling the container that holds the search form **/
#sidebar1 .search-form, #offcanvas_search .search-form {
    padding: 1em;
    clear: both;
}
.search-form::after {
    clear: both;
    display: table;
    content: "";
}

#backtop i {
    display: block;
    line-height: 1;
    margin: auto;
    text-align: center;
    width: 65%;
}
#backtop {
    display: none;
    line-height: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    text-align: center;
    z-index: 200;
    bottom: 5%;
    right: 1%;
    height: 1em;
    width: 1em;
    font-size: 3.5rem;
}
#backtop.visible {
    display: block;
    opacity: .95;
}

#home-video.reveal .close-button {
    background: #fff none repeat scroll 0 0;
    color: #62615c;
    padding: 15px 20px;
    right: 0;
    top: 0;
}

/** 03 UI ELEMENTS // 3.2 Forms and Inputs **/

#header-search .search-form {
    width: 100%;
}
/**this is the expanded search field that shows up when you click the button in the navigation**/
#header-search {
    background: #bbb;
    clear: both;
    display: none;
    float: none;
    overflow: hidden;
    position: absolute;
    transition: all 0.1s ease 0s;
    white-space: nowrap;
    width: 100%;
    z-index: 6;
}
/*styling search input boxes in both the header and sidebar**/
#header-search .search-form input,
#sidebar1 .search-form input,
#offcanvas_search input {
    background: #ccc;
    border: medium none;
    box-shadow: 0px 0px 5px 1px rgba(255,255,255,0.1) inset;
    float: left;
    margin: 0;
    color: #fff;
    height: 68px;
    padding: 1em;
    width: 75%; 
    border-radius: 0;
}
#offcanvas_search input { 
    -webkit-appearance: none;
}
/**changes the color of text in the search input on Chrome, Safari*/
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #fff;
    text-transform: none;
    font-weight: 600;
    font-size: 18px;
}
/**changes the color of text in the search input on Firefox*/
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #fff;
    text-transform: none;
    font-weight: 600;
    font-size: 18px;
}
/**changes the color of text in the search input on Internet Explorer*/
 input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #fff;
    text-transform: none;
    font-weight: 600;
    font-size: 18px;
}

/** 03 UI ELEMENTS // 3.3 Popovers  **/
#home-video.reveal {
    max-width: 768px;
    width: auto;
}

#home-video.reveal .flex-video {
    margin-bottom: 0;
}

/*overriding some foundation framework stuff*/
#home-video.reveal {
    padding: 0;
    border: none;
    background: transparent;
}

.reveal-overlay {
    background: rgba(0, 0, 0, .7)
}



/****======================================================== 04 MEDIA QUERIES ==================================================****/

/**------ 04 MEDIA QUERIES // 4.1 Tablet Size (768px - 1024px) ------**/

    /** 04 MEDIA QUERIES // 4.1 Tablet Size (768px - 1024px) // A. Typography   **/
    /** 04 MEDIA QUERIES // 4.1 Tablet Size (768px - 1024px) // B. Layout  **/
@media (max-width: 1024px) {
    #content {
        min-height: 100px;
    }
    
    #content.with-sidebar #inner-content #intro-page-section #intro-copy, #content.with-sidebar #inner-content #intro-page-section .featured_image  {width: 100%;}
    #content.with-sidebar #inner-content #intro-page-section {
      padding: 0;
    }
    /***this moves the megamenu arrow indicator to the top**/
    .header #top-bar-menu ul.mega-menu li.has-dropdown-arrow > a::after {
        border-color: #ccc transparent transparent;
        border-width: 10px 10px 0;  
    }
    .header #top-bar-menu ul.mega-menu li.has-dropdown-arrow>div.mega-menu-wrapper>div.mega-menu>div:nth-child(2) {
        display: none;
    }
    .header #top-bar-menu ul.mega-menu li.has-dropdown-arrow>div.mega-menu-wrapper>div.mega-menu>div:nth-child(3) {
        width: 58%;
        display: block;
    }
    .header #top-bar-menu ul.mega-menu li.has-dropdown-arrow>div.mega-menu-wrapper>div.mega-menu>div:nth-child(1) {
        width: 40%;
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .header #top-bar-menu ul li a {
          padding: 1.6rem 1.35rem; /**this adjusts the spacing of the Nav as the screen gets smaller. **/
    }
    
    #callnow {
        min-height: 100px;
    }
}
    /** 04 MEDIA QUERIES // 4.1 Tablet Size (768px - 1024px) // C. UI Elements **/


/**------ 04 MEDIA QUERIES // 4.2 No Man's land Tweener (641px-767px)  ------**/
    
    /** 04 MEDIA QUERIES // 4.2 No Man's land Tweener (641px-767px) // A. Typography   **/

    /** 04 MEDIA QUERIES // 4.2 No Man's land Tweener (641px-767px)  // B. Layout  **/

@media (min-width: 640px) and (max-width: 767px) {
   
    .header #top-bar-menu ul li a {
          padding: 1.6rem .7rem; /**this adjusts the spacing of the Nav as the screen gets smaller. **/
        }
    
    #usernav,
    #callinfo {
        width: 100%;
    }
    #leftcontent {
        width: 40%;
    }
    #rightcontent {
        width: 60%;
    }
    .header #top-section #logo {
        max-width: 190px;
    }
    #user-based {
        float: none !important;
        margin: auto;
    }
    #top-section #phone {
        float: none;
        width: 100%;
        overflow: hidden;
    }
    
    #content.page--resources .post_holder .post {}
    #content.page--resources .post_holder .featured_image,
    #content.page--resources .post_holder .post_excerpt {
        width: 100%;
    }
   
    #content.page--resources .post_holder .post {
        padding: 1rem;
    }
    #content.page--resources .post_holder .featured_image {
        margin-bottom: 1rem;
    }
    /** 04 MEDIA QUERIES // 4.2 No Man's land Tweener (641px-767px)  // C. UI Elements **/
     #content.page--resources .post_holder .post .button,
    #content.page--resources .post_holder .post .button.share {
        width: 100%;
        text-align: center;
    }
}

    


/**------ 04 MEDIA QUERIES // 4.3 Mobile (640px and down)  ------**/
@media (max-width: 640px) {
    /** 04 MEDIA QUERIES // 4.3 Mobile (640px and down)  // A. Typography   **/
  
    /****** ----removing this for now, don't want to determine this in the parent theme. #content.page--resources .post_holder .post .post-excerpt p {
        font-size: 1.15rem;
        line-height: 1.45;
    }
     .article-header h1.page-title {
        font-size: 2em;
        text-align: center;
    }
    #content p,
    #content #inner-content #intro-page-section p,
    #content .content-shortcode-row {
        font-size: 1.125rem;
        line-height: 1.35;
    }
    #content h1 {
        font-size: 1.75rem;
    }
    #content h2 {
        font-size: 1.5rem;
    }
    #content h3 {
        font-size: 1.25rem;
    }
     #content blockquote p {
        font-size: 1.5em;
    }   
    #content .callout-text p, #content .callout-text {font-size: 1.35rem} ---- end removing mobile font sizes***/

    /** 04 MEDIA QUERIES // 4.3 Mobile (640px and down)  // B. Layout  **/
    
    .header .top-bar.has-title-bar#top-bar-menu .top-bar-right {
        width: 100%;
    }

    .title-bar img#logo.img-responsive {
        display: inline-block;
        width: 50%;
    }

    .footer .menu>li {
        width: 100%;
        float: none;
    }
    #mobilemenu {
        background: #454545 none repeat scroll 0 0;
        border-left: medium none;
        float: right;
    }
    #mobilemenu {
      background: #8d8d8d none repeat scroll 0 0;
      border-left: medium none;
      float: right;
      height: 5rem;
      max-width: 5rem;
      padding: 1rem;
    }
    #mobilemenu a {
        color: #fff;
        padding:  0;
        text-align:  center;
    }
        
    #mobilemenu ul li {
        display: block;
        padding-bottom: 10px;
    }
    #mobilemenu .menu-icon {
        width: 100%;
        height: 30px;
    }
    #mobilemenu .hamburger {
        padding: 0px;
        width: 100%;
        line-height: 0;
		outline:  none;
    }
    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
        background-color: #fff;
        border-radius: 0px;
    }
    .menu-icon::after {
        background: #fff none repeat scroll 0 0;
        border-radius: 0;
        box-shadow: 0 12px 0 #fff, 0 24px 0 #fff;
        height: 5px;
    }
    .menu-icon:hover::after {
        background: #fff none repeat scroll 0 0;
        box-shadow: 0 12px 0 #fff, 0 24px 0 #fff;
    }
    
    .header #top-section {
        padding: 0px;
    }
    .header #top-section #logo {
        padding-left: 0;
    }
    #mobilephone { background: #fff none repeat scroll 0 0; }
         
    #mobilephone.fixed {
        position: fixed;
        width: 100%;
        z-index: 200;
        margin-bottom: 0;
    }
     #location .button {
        margin-bottom: 0;
    }
    .frn_footer {
        padding-top: 0;
    }
    .article-header {
        padding: 35px 0;
        height: auto;
    }
    .article-header::before {
        content: none;
    }
   
     .article-header .fullscreen-bg__video {
        display: none;
    }
      
    #content.page--resources .post_holder .post .button,
    #content.page--resources .post_holder .post .button.share {
        width: 100%;
        text-align: center;
    }
    #content.page--resources .post_holder .post {
        padding: 15px;
    }
    #content.page--resources .post_holder .featured_image {
        margin-bottom: 15px;
    }
  
    #content .entry-content,
    #content.full-width .entry-content {
        padding: 1rem;
    }
    
     #content .callout {
        padding: .75em;
    }
    #content .tabs-content {
        padding: .5em;
    }
   
    #staff-page h3 {
        min-height: 1px;
    }
        
    #content .entry-content .alignright,
    #content .entry-content img.alignright {
        float: none;
        margin-bottom: 15px;
        clear: both;
        margin-left: 0;
    }
    
   .entry-content .alignleft, .entry-content img.alignleft {
        width: 100%; 
        float:  none;
        margin:  0 0 1em 0;
    }
    
    #content .columns .callout-text {padding: 0;}
   

}

    /** 04 MEDIA QUERIES // 4.3 Mobile (640px and down)  // C. UI Elements **/


/**------ 04 MEDIA QUERIES // 4.4 Very Small (340px and down)  ------**/
@media (max-width: 339px) {
    /*below iphone 5*/
    #callnow h1.phonenumber {font-size: 1.875rem;}
    
}

/**----- 04 MEDIA QUERIES // 4.5 @Media Print Specific Styles -----**/ 
@media print {
    * {
        background: transparent !important;
        color: black !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
    }
    a,
    a:visited {
        color: #444 !important;
        text-decoration: underline;
    }
    a:after,
    a:visited:after {
        content: " (" attr(href) ")";
    }
    a abbr[title]:after,
    a:visited abbr[title]:after {
        content: " (" attr(title) ")";
    }
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
    .sidebar,
    .page-navigation,
    .wp-prev-next,
    .respond-form,
    nav {
        display: none;
    }
}

.sl_disclaimer {
    font-size: 12px !important;
    font-style: italic !important;
}











