/**------ Billboard Module ------**/
.billboard {
	height: 650px;
	position: relative;
	top: $top-pull;
	
	@include media("<tablet") {
		min-height: 0;
	}
	
	&__holder {
		padding: calc(50vh - 6.66rem) 0 0;
		background-size: cover;
		background-position: center center;
		
		////mobile styles 
		@include media("<tablet") {
				height: 90vh;
				padding: calc(45vh - 6.66rem) $spacing--sm 0; 
				background-position: 0 center;
			}///mobile styling for billboard
		
		&::before {
			@include pseudo;
			top: 0; 
			left: 0;
			right: 0;
			height: $spacing--xxl * 2;
			background: linear-gradient(to bottom, rgba(30,58,35,0.7) 5%, rgba(0,0,0,0));
			
			@include media("<tablet") {

				content: none;//gets rid of green gradient overlay on mobile 

			}
			
		}///end billboard_holder::before
		
		@media screen and (min-width: 1400px) and (max-height: 599px) {
				background-position: 0 bottom;
		}
		
		@media screen and (max-height: 599px) and (min-width: 767px) {
			padding: $spacing--xxl * 2 0;
			
			&::before {
				background: linear-gradient(to bottom, rgba(30,58,35,1) 5%, rgba(0,0,0,0));
			}
		}
		
	}///end billboard__holder
	
	.inner {
		animation: fade-up .2s cubic-bezier(0.19, 1, 0.22, 1) .5s 1 forwards;
		opacity: 0;
	}


	.card__header--billboard {
		color: $color-default-inverse;
		font-size:  3rem;
		max-width: 475px;
		margin: 0;
		
		
		&::after {
			content: none;
			
		}
		
		@include media("<tablet") {

				clear: both;
				
			

			}////media query for billboard module header 
		
		
	}///end card header 
	
	.card--billboard {
		padding: 0;
		
		@include media("<tablet") {clear: both; padding-top: $spacing--sm + .4rem;}///media queries 
	}

	#video {
	
		
		a {
			@include box-shadow;
					color: $color-primary;
					text-align: center;
					display: block;
					line-height: 2.3;
					font-size: 1.75rem;
					@include transition ($bezier); 
					height: $spacing--lg;
					width: $spacing--lg;
					background: $color-default-inverse;
					color: $color-primary;
					border-radius: $spacing--lg / 2;
					position: relative;
				
			.fa {margin-left: 3px;}
		
			
			&:hover {
				background: $color-primary;
				color: $color-default-inverse;
				@include transition ($bezier); 
				box-shadow: 0 6px 35px rgba(0,0,0,0.5);
				
				
				&::after {
					opacity: .5;
				}
				
			}
 
		}
	}
}///end billboard
/**------ End Billboard Module ------**/

