/**------ Contact Module ------**/
.contact--pull {
		margin-top: -$spacing--xl * 2;
	}

.module.contact {
	
	.inner {
		@include shadow-box;
		padding: 0;
		border-color: $color-default-inverse;
	}
	
	.contact__content {
		padding: $spacing--xl $spacing--md;
		background: $color-accent-one;
		color: $color-default-inverse;
		
		h1, h2 {
		@include font-nunito-sans(1.25rem, $color-default-inverse,600, 1.875, normal);
			margin: 0;
		}
		
		h1, button, p, a, h2  {
			color: $color-default-inverse;
		}
		
		.button {
			border-color: $color-accent-three;
			margin-top: $spacing--xs + $spacing--lg;
		}
		p {margin: 0;}
		p + p {margin-top: $spacing--xs;}
		.divider {
			@include divider($color-default-inverse);
		}
	}
}//end location 

.contact__popup, .acf-map {
	h2 {
		@include font-nunito-sans(1.25rem, $color-default,600, 2, normal);	
		margin: 0;
	}
	p {margin-bottom: 0; line-height:  1.5;}
	a.button, a.button:hover {color: $color-secondary; background: none; border: none; box-shadow: none; padding:  0; margin-top: $spacing--xs;
	} 
}
/**------ End Contact Module ------**/
