/**------ CUSTOM PHP Module ------**/

.module--custom {
	margin-top: 0 !important; 
	
	.inner {
		@include box-shadow;
		background: $color-default-inverse;
		border: 1px solid $color-secondary;
		
		@include media(">tablet") {bottom: -$spacing--xxl;}
		
		
	}
	
	.cta-box {
		background: $color-secondary;
		padding: $spacing--xl $spacing--lg;
		h1, h2 {font-size: 2rem; font-weight: 300; max-width: 230px; margin: 0 auto $spacing--sm;}
		
		h1, h2, .button {color:  $color-default-inverse; text-align: center;}
		.button {border-color:$color-default-inverse; display: block; margin: auto;}
		
	}
	
	.slider__container {
		
		ul  {
			margin: 0;
		}
		blockquote {
			@include font-sofia(1.6rem, $color-default, 300, 1.875, normal );
			border: none;
			text-align: center;
			margin: 0;
			padding: $spacing--xl $spacing--md;
			
		}
	}
}
/**------ End CUSTOM PHP Module ------**/
