/**------ DECK Module ------**/
.deck {
	
	.card__holder {
		display: block;
	}
	.inner {
		@include inner(none);
	
	}///end inner 
	
	&--basic .inner {
		@include inner($container);
	}
	&--basic {
		padding: $spacing--xl 0;
		background: $color-accent-one;
	}
	
	&--icon {
			@include media("<tablet") {
			margin: 0 $spacing--sm;
		}///mobile styles for icon deck container
	}
	
	&--icon .inner .row {
		@include box-shadow;
		@include inner($container);
		background: $color-primary;
		border-radius: $border-radius;
			
	
			
	}//end row for icon card 
	
	.module__header {
		background: $color-accent-one;
		padding:  $spacing--lg $spacing--xs $spacing--lg;
		
		h1, h2 {
			@include all-caps-heading;
			text-align: center;
			margin:  0;
			position:  relative;
		}//end module__header h1 
		
		&::before {
				@include pseudo;
				background: $color-accent-one;
				left: 0;
				right: 0;
				top: 0;
				bottom: $spacing--xl;
				z-index: 0;
			}//end module__header h1::before
	}///end module__header 
	
	&--highlight {
		.inner {
			@include inner;
		}//end highlight deck inner 
		
	}///highlight deck 
	
	
}///end deck 

.deck--no-top {
	padding:  0 0 $spacing--xl 0;
}

.deck--basic {
	.row {
		margin-left: -$spacing--xs;
		margin-right: -$spacing--xs;
	}
	
	.card--basic {
		padding: $spacing--xs;
	}
	
	.row.large-up-3 > .card--basic:nth-of-type(3n + 2), .row.medium-up-3 > .card--basic:nth-of-type(3n + 2) {
			
		} 
}///end deck basic grid changes 

.module .card {
	
	&--icon {
		padding: 0;
	}
	
	///card for the basic card 
	&--basic  {
		
		.card__holder {
			@include box-shadow;
			border-radius: $border-radius;
			background: $color-primary;
			padding: $spacing--lg $spacing--xs;
			@include transition ($bezier); 
			overflow: hidden;
			display: block;
			position:  relative;
			
			
			
			&:hover {
				transform: scale(1.025);
				box-shadow: 0 6px 40px rgba(0,0,0,.2);
				@include transition ($bezier); 
				text-rendering: optimizeSpeed;
				
				.card__header {
					
				&::after {
					height: 1px;
					max-width: 120px;	
					
					}
				}///end card header 
			}//end hover state for the basic card 
			
		}//end card__holder 
	}///end card--basic
	
	
	&--icon .card__holder {
		padding: $spacing--md $spacing--xs;
		@include transition ($bezier); 
		overflow: hidden;
		display: block;
		
		
			@include media("<foundationmedium") {
				padding: $spacing--xs + .6rem;///changes padding on icon cards 
				
				
			}

		
		&:hover {
			cursor:  pointer;
			box-shadow: 0 0 40px (rgba(0,0,0,0.15)) inset;
			@include transition ($bezier); 
			
			.card__header {
				&::after {
					height: 1px;
					max-width: 120px;
					
					@include media("<tablet") {content: none;}
				}
				
			}//end card header on hover 
			
			}//end hover state
			
			
	}// end card holder 
	
	&--icon:not(:last-child) > .card__holder {
		border-right: 1px solid shade($color-primary, 20%);
		
		@include media("<foundationmedium") {
		 	border-right: medium none;
			border-bottom: 1px solid shade($color-primary, 20%);
		}///border styles for icon deck on mobile 
	
	}//this adds a border to all the cards except the last one 
		
	&__image--icon {
			@include media("<foundationmedium") {width: 5%; float:left;}
		}///mobile styling for icon images 	
	
	&__image--icon img {
		margin: auto; 
		position: relative;
		display: block;
		max-width: 20px;
		height: auto;
	}
	
	
	
	&__header--icon, &__header--basic {
		@include font-sofia(1.46rem, $color-default-inverse, 400,  $lh: 1.25, $fontstyle: normal );
		text-align:  center;
		margin: $spacing--xs auto 0;
		position: relative;
		
		
		@include media(">foundationmedium"){max-width: 250px;}
			
		
		&::after {
			@include heading-border ($color-default-inverse, 1px, 0px, -$spacing--xs );
			@include transition ($bezier); 	
			left: calc(50% - 60px);
		}//end after class 
	}//end card__header--icon


	&__header--basic {
		font-size: 2rem;
		margin-top: 0;
	
		
	}///end card header 



	&--highlight {
		&:not(:last-child) .highlight__box {
			margin-right: $spacing--sm;
		}
		
		@include media (">foundationmedium","<desktop") {
			width: 100% !important;
			margin: 0 0 $spacing--sm 0 ;
			&:not(:last-child) .highlight__box {margin-right: 0;}
		}///end 
	}//end card highlight 

	

	.highlight__box {
		background-size: cover;
		position:  relative;
		padding: $spacing--md;
		@include box-shadow;
		@include transition ($bezier); 
		
		&:hover {
			transform: scale(1.025);
			box-shadow: 0 6px 40px rgba(0,0,0,.2);
		}//end hover 
		
		
		&::after {
			@include pseudo;
			background: rgba(129, 147, 148,0.8) url(#{$path-img}/arrow-circle.svg) no-repeat 96% -30px / 25px auto;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			@include transition ($bezier); 
	
		}//end ::after state 
		
		&:hover::after {
			background-color: rgba(129, 147, 148,0.95);
			background-position: 96% 30px;
			@include transition ($bezier); 
		}///end hover after
		
		&:hover > .card__header::after {
			max-width: 60px;
		}//end after on hover state 
		
		.card__header {
			@include font-sofia(2.4rem, $color-default-inverse, 500,  $lh: 1.25, $fontstyle: normal );
			position:  relative;
			text-align: left;
			z-index: 1;
			margin-top: 0;
			margin-bottom: $spacing--sm;
			
			&::after {
				@include heading-border($color-default-inverse,1px,120px,-$spacing--xs );
				@include transition ($bezier); 
			}
		}///end highlight box heading 
				
		.card__secondary {
			@include font-sofia(1.2rem, $color-default-inverse, 400, 1.5, normal );
			color: $color-default-inverse;
			position:  relative;
			z-index: 1;
			
		}///end styling for highlight box secondary
		
	}/// end highlight__box

	

}////end module card


/**------ END DECK Module ------**/






