/**------ Duo Module ------**/

.duo {
	@include inner;
	@include shadow-box(0);
	
	.card__header {
		font-size: 2.4rem;
	}
	
		.bx-controls-direction a {
				
				z-index: 2;
				@include box-shadow;
				background: $color-default-inverse url(#{$path-img}/arrow-right-carousel-dark.svg) no-repeat center center / 13px auto;	
				padding: $spacing--xs;
				width: 50px;
				height: 50px;
				border-radius: $border-radius * 2 + 1px;
				@include transition ($bezier); 
				
				&:hover {
					@include transition ($bezier); 
					padding: $spacing--xs;
					top: calc(50% + 2px);
					box-shadow: none;
					background-position:  center center;
				}

				&.bx-prev {
					left: $spacing--xs;
					background-image: url(#{$path-img}/arrow-left-carousel-dark.svg);
					background-position: 45%;
						
				}
				
				&.bx-next {
					right: $spacing--xs;
					background-position: 55%;
					
				}
	}/// bx slider controls 
	
	&__media {
		
		.image__link {
			
			display: block;
			position: relative;
			overflow: hidden;
			
			.duo__img {
				transition: all 0.3s ease;
				max-width:  100%;
		
			}
			&::after {
				@include pseudo;
				opacity: 0;
				transition: background .3s ease, outline .3s ease, opacity .3s ease;
				background: transparent url(#{$path-img}/arrow-circle.svg) no-repeat center center/ 30px 30px;
				outline: solid 1px $color-default-inverse;

			}
		
			&:hover .duo__img  {
			  transform: scale(1.1);
			}//end hover state for duo image link
			
			&:hover::after {
				@include pseudo (block, absolute, "");
				font-family: $font-main;
				font-size: 2rem; 
				color:  $color-default-inverse;
				text-align: center;
				padding: calc(50% - 6rem) 0 0 0;
				background-color: rgba(129, 147, 148, 0.8);
				opacity: 1;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				box-shadow:  0 1px 15px rgba(0,0,0,0.12) inset;
				outline-offset:  -$spacing--md;
				
			}
			
		}//end image__link
	}//end __media
	
	.card--duo {
		padding: $spacing--md;
		
		
	}//end card--duo
	

		
	
	
	
	
	&:first-of-type {
		margin-top: -$spacing--xl * 2;
	}//end first child 

	p {
		margin-bottom: $spacing--sm;
	}
	
	////inverse instance of duo
	&--inverse {
		background: #6D4574;
		border: medium none;
		z-index: 1;
		outline: 1px solid $color-accent-three;
		outline-offset: $spacing--sm;
		
			@include media("<tablet") {}
		
		&::after {
		
		}
		
		.card__header {
			color: $color-default-inverse;
			
			&::after {
				@include heading-border($color-default-inverse,1px,120px,-$spacing--sm );
				
			}
		}
		
		.card__secondary {
			color: $color-default-inverse;
		}
		
		.duo__media .image__link {
			
			&::after {
				outline: solid 1px $color-secondary;
			}
			&:hover::after {
				background-color: rgba(238, 236, 230, 0.8);
				background-image: url(#{$path-img}/arrow-circle-inverse.svg);
				color:  $color-secondary;
				padding: calc(50% - 6rem) 0 0 0;
			}
		}///end image link
		
		.button {
			color: $color-default-inverse;
			border-color: $color-accent-three;
			
			&::after {
				border-color: $color-accent-three;
				background-image: url(#{$path-img}/arrow-right-hover.svg);
			}
		}
		
	}///end inverse instance 
	
}//end duo

/**------ End Duo Module ------**/




