/**------ Insurance Module ------**/

.insurance {
	.insurance__grid {
		max-width: $container;
		text-align: left;
		
		@include media("<foundationmedium") {margin-top: 0;}
	}
	
	@include media("<foundationmedium") {
		.columns, .column {width: 50%; height:  70px; padding: 5px; margin-bottom: $spacing--xs;}
	}

	
}

.module.insurance--no-top  {
	
		margin-top: 0;
	
	.insurance__grid {
		margin: $spacing--md 0;
		
		@include media("<foundationmedium") {margin-top: 0;}
	}
	
	
}

/**------ End Insurance Module ------**/