/**------ Spotlight Module ------**/
.spotlight {
	
	background: $color-accent-one;
	padding: $spacing--xl 0;
	
	.card.card--spotlight {
		text-align: left;
	}
	h1, h2 {
		@include all-caps-heading;
	}
	
	p {
		@include font-sofia(1.93rem, $color-accent-three, 300, 1.8, normal);
		text-align: left;
		letter-spacing: -.1px;
	}
	.button {
		font-family: $font-main;
		font-weight: 300;
		font-size:  1.93rem;
		border: medium none;
		text-align: left;
		padding: $spacing--xs 0;
		color: $color-default-inverse;
		border-radius: 0;
		
		
		&::after {
			@include heading-border ($color-default-inverse, 1px, 150px, -$spacing--xs);
			@include transition (all 500ms cubic-bezier(0.19, 1, 0.22, 1)); 
			
			@include media (">tablet","<large") {
				left: $spacing--sm;
			}
		}
		
		&:hover {
			border-radius: 0;
			background: none;
			box-shadow: none;
			text-shadow: 0px 2px 15px rgba(0,0,0,.2);
		}
		&:hover::after {
			bottom: $spacing--xs;
			max-width: 150px;
		}
	}

}///end spotlight 

	.spotlight.no-margin {
		padding-top: $spacing--md;
		margin-top: $top-pull;
		&::after {
			content: none;
		}
	}	

/**------ End Spotlight Module ------**/