/**------ Staff Module ------**/

.staff--carousel {
	overflow: hidden;
	
	background: $color-accent-one;
	
	.inner {
		@include inner;
		padding: $spacing--xl 0;
		color: $color-default-inverse;
		
		.module__header h2 {
			@include all-caps-heading;
			text-align: center;
		}
		
		
		
		.staff__card {
			//max-width: calc(1200px / 3 + 1px) !important;
			padding: 0;
			
			&:not(:last-child) {
				border-right: 1px solid $color-accent-three;
			} 
			
			> a {
				display: block;
				@include transition ($bezier); 
				
				&:hover > .staff__photo {
					transform: scale(1.025);
					@include transition ($bezier); 
					box-shadow: 0 6px 40px rgba(0,0,0,0.2);
					border-color: $color-accent-three;
				}
			
				&:hover > h2::after {
					opacity: 1;
					max-width: 120px;
					@include transition ($bezier); 
				}
			}///end link
		}///end staff card 
		
		.staff__container {
			
			h2, h3 {
				text-align: center;
			}///end sub headings 
			h2 {
				@include font-nunito-sans(1.3rem, $color-default-inverse,700,1.5,normal);
				position: relative;
				min-height: 55px;
				
				&::after {
					@include heading-border($color-default-inverse,1px,0,-$spacing--xs );
					opacity: 0;
					left: calc(50% - 60px);
					@include transition ($bezier); 
				}///after 
				
				.certifications {
					display: block;
					text-align: center;
					font-weight: 400;
					font-size: 1rem;
				}	
			}
			
			h3 {
				@include font-nunito-sans(1.066rem, $color-default-inverse,400,1.5,normal);
			}
			
			
			.bx-controls-direction a {
				
				z-index: 2;
				@include box-shadow;
				background: $color-default-inverse url(#{$path-img}/arrow-right-carousel-dark.svg) no-repeat center center / 13px auto;	
				padding: $spacing--xs;
				width: 50px;
				height: 50px;
				border-radius: $border-radius * 2 + 1px;
				@include transition ($bezier); 
				
				&:hover {
					@include transition ($bezier); 
					padding: $spacing--xs;
					top: calc(50% + 2px);
					box-shadow: none;
				}

				&.bx-prev {
					left: -$spacing--xs;
					background-image: url(#{$path-img}/arrow-left-carousel-dark.svg);
					background-position: 45%;
				}
				
				&.bx-next {
					right: -$spacing--xs;
					background-position: 55%;
					
				}
			}
			
			
			
		}//end staff container 
		
		.staff__photo {
			width: 230px; 
			height: 230px;
			overflow: hidden;
			@include box-shadow;
			margin: $spacing--md auto;
			@include transition ($bezier); 
			border: 1px solid transparent;
			
			img {
				width: 100%;
				height:  auto;
				vertical-align: middle;
			}
		}///end staff photo 
	}///end inner 
}////end staff carousel 


.module.staff--deck {
	margin-top: 0;
	z-index: 0;
	
	.inner {
		max-width: none;
	}
	.module__header {
		background: $color-accent-one;
		padding:  $spacing--xl $spacing--xs $spacing--lg;
		
		h1 {
			text-align: center;
			margin:  0;
			position:  relative;
		}//end module__header h1 
		
		&::before {
				@include pseudo;
				background: $color-accent-one;
				left: 0;
				right: 0;
				top: -$spacing--xxl;
				bottom: 80%;
				z-index: 0;
				
			}//end module__header h1::before
	}///end module__header 
	
	.staff__card {
				margin-bottom: $spacing--sm;
			
		
			> a {
				display: block;
				@include transition ($bezier); 
				@include shadow-box($shadowboxpadding: $spacing--sm);
				position: relative;
				padding-bottom: $spacing--xl;
				//border: medium none;
				//margin: $spacing--xs 0;
				
				&::after {
					@include pseudo($content: "Learn More");
					bottom: 0; 
					left: 0;
					right: 0;
					text-align: center; 
					background-color: $color-secondary;
					color: $color-default-inverse;
					padding: $spacing--xs;
					font-size: 1.25rem;
					@include transition ($bezier); 
					
				}///end after  
				
				&:hover > .staff__photo {
					transform: scale(1.025);
					@include transition ($bezier); 
					box-shadow: 0 6px 40px rgba(0,0,0,0.2);
				}
			
				&:hover > h2::after {
					opacity: 0;
					max-width: 120px;
					@include transition ($bezier); 
				}
				
				&:hover::after {
					background-color: shade($color-secondary, 15%);
						@include transition ($bezier);  
				}
			}///end link
		}///end staff card 
	
	
	.inner .staff__container {
		//@include shadow-box;
		@include inner;
		
		
	}
	
	h2, h3 {
				text-align: center;
			}///end sub headings 
			h2 {
				@include font-nunito-sans(1.3rem, $color-default,700,1.5,normal);
				position: relative;
			    min-height: 55px;
				margin-top: $spacing--sm;
				
				&::after {
					@include heading-border($color-secondary,1px,0,-$spacing--xs );
					opacity: 0;
					left: calc(50% - 60px);
					@include transition ($bezier); 
				}///after 
				
				.certifications {
					display: block;
					text-align: center;
					font-weight: 400;
					font-size: 1rem;
				}	
			}///end h2 
	
			h3 {
				@include font-nunito-sans(1.066rem, $color-default,600,1.5,normal);
				
			}
	
	.staff__photo {
			width: 200px; 
			height: 200px;
			overflow: hidden;
			border-radius: 50%;
			//@include box-shadow;
			margin: 0 auto;
			@include transition ($bezier); 
			border: 1px solid transparent;
			
			img {
				width: 100%;
				height:  auto;
				vertical-align: middle;
			}
		
			@include media("<desktop"){
				width: 150px; 
				height: 150px;
			}	///chnage for tablet 
			
		}///end staff photo 
	
	
}///end staff deck 

///staff list that displays underneath the module 

.staff__list {
	h2 {
		text-align: center;
		color: $color-secondary;
		margin-bottom: $spacing--md;
	
	}
	
	h4 {
		text-transform: capitalize;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding-right: $spacing--xs;
		font-size:  .9375rem;
		
	}
	
	
}


/**------ END Staff Module ------**/








