/**------ WYSIWYG Module ------**/
#content.page--landing .wysiwyg {
	&--no-shadow .entry-content {
		padding: 0;
		border: none;
		box-shadow: none;
	}
}
/**------ END WYSIWYG Module ------**/

.wysiwyg--content--no-top {
		margin-top: -$spacing--xl * 2;
}

#content .wysiwyg {
	&--centered {
		text-align: center;
		h2 {text-align: center;}
		
		.callout {
			background: $color-default-inverse;
			padding: $spacing--xl;
		}///end callout 
		
		.button {background: $color-primary; color: $color-default-inverse; border-color: shade($color-primary,10%);}
		
		.entry-content {
			 padding: 0;
		}///end entry content 
	}///end centered 
}///end .wysiwyg