//footer parts

//call now section 
.footer__modules {
	position: relative;
}

#callnow {
	background: $color-secondary $greengradient no-repeat 0 0;
	padding:$spacing--xxl * 2 $spacing--xxl;
	min-height: 600px;
	
	
	h1, h2 {
		color: $color-default-inverse;
		text-align: center;
		font-weight: 300;
		position: relative;
		display: inline-block;
		
		img {margin-right: $spacing--xs; vertical-align: baseline;}
		
		a {color: $color-default-inverse;}
		
		.phonenumber {
			font-weight: 500;
		}
		
	}//end h1 
	
	.divider {background-color: $color-default-inverse; height: 1px; max-width: 230px;
margin: auto; margin-top: $spacing--sm; }
	
	p {
		color: $color-default-inverse;	
	}
	
	.callnow__logo {
		padding-top: $spacing--xxl;
	}
	
}//end call now 

#location {
	.inner {
		@include shadow-box;
		padding: 0;
		top: -$spacing--xl * 2;
		border-color: $color-default-inverse;
	}
	
	.location__content {
		padding: $spacing--xl $spacing--md;
		background: $color-accent-one;
		
		h1, h2 {
		@include font-nunito-sans(1.25rem, $color-default-inverse,600, 2, normal);	
		}
		
		h1, h2, button, p, a {
			color: $color-default-inverse;
		}
		
		.button {
			border-color: $color-accent-three;
			margin-top: $spacing--xs + $spacing--lg;
		}
	}
}//end location 

.tricare {
	padding: $spacing--xs 0; 
	background: $color-secondary;
	
	h2{
		@include font-sofia(1.5rem, $color-default-inverse,500, 2, normal);	
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 3px;
		
		a {color: $color-default-inverse;
			&:hover {}
		}//end link
		
	}
	
	
}

.logo-section {
	
	.column {
		width: 11.11%;
		float: left;
		
		@include media ("<desktop") {
			width: 20%;
			
			&:last-child{
				width: 40%;
			}
		
	}///end media query 
		
		
		
		@include media ("<foundationmedium") {
			
			width: 33.3%;
			
			&:last-child{
				width: 33.3%;
			}
		
	}///end media query 
		
	}
	img {
		max-width: 75px;
		margin:  0 auto $spacing--xs;
		display: block;
	}
	
	
	
}



///start actual footer styles 


.footer {
	
	background: #5A336A $darkpurplegradient-reverse no-repeat 0 0;
	color: $color-default-inverse;
	
	.menu > li {
		width: 20%;
		margin-bottom: $spacing--xl;
	}
	
	.menu > li:nth-of-type(6) {
		clear: left;
	}
	
	.menu > li:nth-of-type(5), .menu > li:nth-of-type(10) {
		padding-right: 0;
	}
	
	
	.footer-branding {
		padding: $spacing--xl 0;
	}
	
	.frn_footer {padding: 0 0 $spacing--xl 0; 
		p, a {font-size: .86rem; line-height:  1.4;}
	}

	
	.frn_footer {
		background: none;
		font-weight: 300;
	}
	
	
	a {	
		color: $color-default-inverse;
		font-size: 1rem;
		font-weight: 600;
		
		
	}
	
	.sub-menu > li a {
			font-size: .86rem; 
			font-weight: 400;
		}
	
	.button {
		border-color: $color-accent-three;
		color: $color-default-inverse;
		padding: $spacing--xs 12px;
		
		&:not(:last-child)	{margin-right: 10px;}
		i {	font-size: 1.66rem; line-height: 1;}
		
		&:hover {
			background: $color-primary;
		}
	}
	
	.tricare-text {
		color: $color-default-inverse;
		text-align: center;
		margin:  auto;
		max-width: $container;
		font-size: .86rem;
		line-height:  1.4;
	}
}///end footer 

///logo sections 
.logo-section {
	padding: $spacing--lg 0;
	background-color: $color-default-inverse;

	img {}
	
}


























