.stickynav--container {
	z-index: 3;
} 

#globalheader {
	background-color: transparent;	
	
	&::before, &::after {
		@extend %clearfix;
	}
	#top-section {
		padding-top: $spacing--xs;
		background-color: transparent;

		.top-bar, .top-bar ul {
			background: transparent;
		}
		@include media("<tablet") {
			padding: $spacing--xs;
		}
		
		#rightcontent {
			> .row {
				padding-right: $spacing--sm;
				
				@include media ("<=1040px") {
					padding-right: 0;
				}//end media change from 1040px down 
			}///first row 
		}//end right content 
		
	}//end top-section
	
	h1, h1 a {
		@include font-nunito-sans(1.46rem, $color-default-inverse, 600, 1.33, normal)
		margin: 0;
	}
	
	@include media("<tablet") {
		background: transparent linear-gradient(145deg, rgba(90,51,106,.7) 0%, rgba(117,83,119,.7)) no-repeat 0 0;
	}

}///end global header 

#phone span {
		 line-height: 0;
		 display: inline;
		 @include font-nunito-sans(1.46rem, $color-default-inverse, 600, 1.33, normal)
		margin: 0;
}

.header.is-anchored.is-at-top #top-section {
	.inner {
		z-index: 100;
	}
}

.header.sticky #top-section {
	position: relative;
	background: transparent;
	.inner {
		z-index: 1;
	}
	
	&::after {
		@include pseudo;
		background: transparent linear-gradient(145deg, rgba(90,51,106,0.9) 0%, rgba(92,54,107,0.9) 50%, rgba(117,83,119,0.9) 100%) no-repeat 0 0;
		transition: opacity 500ms ease;///this is what controls how the purple background animates out 
		left: 0;
		right: 0;
		height: 100%;
		top: 0;
		transform: translateY(-100%);
		opacity: 0;
		
		@include media("<tablet") {content: none;}

	}//and after 
	
		
	#top-bar-menu {
		ul.mega-menu > li.has-dropdown-arrow > a {
				&::before {
				@include pseudo;
				@include box-shadow;
				background: $color-primary;
				border-radius: $border-radius $border-radius 0 0;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				z-index: -1;
				opacity: 0;
				@include transition ($bezier); 
				transform: translateY(75%);
				
			}
			
			&:hover::before {
				opacity: 1;
				@include transition ($bezier); 
				transform: translateY(0);
				
				}
		}
		
		ul.mega-menu > li > a {
			
		overflow: hidden;
			&:hover {
				color: #ffffff;
			} 
			
		
			
			
		}//end top level link 
		
		ul.mega-menu > li {
		
			&.has-dropdown-arrow > a::before {
				
			}
			&.has-dropdown-arrow > a:hover::before {
			
				
			}
		}///end instance for just the dropdowns
		
		ul li  {
			
			
			 a {
				color: $color-accent-two;
				padding: $spacing--xs + .66rem $spacing--sm;
				@include transition ($bezier); 
			
				 		@include media("<=desktop") {
							padding: 10px;
							}
				}//end links
				
			
				
			ul {
				li {
					
					&.active > a{
						 background: none;
						 color: $color-accent-one;
					}
					
						ul.sub-menu li a {
							font-size:  .875rem;
							margin: 0;
							
						}///nested links within the megamenu
					
					a {
						@extend p;
						padding: 0;
						display: inline-block;
						
						&::after {
								@include pseudo;
								content: "\f105";
								right:  -$spacing--sm;
								top: 0;
								font-family: FontAwesome;
								opacity: 0;
								@include transition ($bezier); 
						}//end ::after on the mega menu sub menu
						
						
						
						&:hover {
							color: $color-accent-one;
							@include transition ($bezier); 
							padding-left: 5px;
							&::after {
								opacity: 1;
								right: -$spacing--sm + .25rem;
							}///end hover after effect
						}
						
					
					}///end ul li a
				
					
				}//end ul li
			}//end ul
			
			}//end ul li 
		
			a.button {
						display: inline;
						color: $color-default;
						font-weight: 700;	
						padding: 0;
						font-size: inherit;
						line-height: inherit;
						vertical-align: baseline;
						position: relative;
							&::after {
								@include pseudo;
								content: "\f105";
								right:  -$spacing--xs;
								top: 0;
								font-family: FontAwesome;
								opacity: 1;
								@include transition ($bezier); 
								line-height:  1.5;
								}	
						&:hover {
							background: none;
							box-shadow: none;
							border-radius: 0;
							color: $color-accent-one;
						}
					}
		
		ul.mega-menu li.has-dropdown-arrow > a::after {
			border-color: $color-accent-three transparent transparent;
			border-radius: $border-radius;
			right: 0;
			content: none;
		}
	
	}//top bar menu 
	
	#top-bar-menu ul li:last-child > a {
				//padding-right: 0;
		
				&:hover {
						&::before {
							//right: -$spacing--xs !important;
						}
				}
				
			}//and last child link
	
	#logo {
		padding: 0 0 0 0;
		max-width: 240px;
		
	}
	
}///end #top-section



.header.sticky.is-stuck #top-section {
	
	&::after {
		transform: translateY(0);
		opacity: 1;
		transition: opacity 500ms cubic-bezier(0.19, 1, 0.22, 1);///this is how the purple bg animates in on sticky 
	}

}///end sticky header is stuck instance 

.header.sticky.mega-is-open #top-section {
	
		transition: opacity 500ms cubic-bezier(0.19, 1, 0.22, 1);
	
	&::after {
		transform: scaleY(7);
		
		opacity: 1;
		transition: opacity 2000ms cubic-bezier(0.19, 1, 0.22, 1);
	}

}///end sticky header is stuck instance 




    /** 02 LAYOUT // 2.2 Header /// A. Navigation **/
#user-based {
	
	ul li a {
		color:  $color-default-inverse;
		font-size: 1rem;
		margin:  0;
		padding: .33rem $spacing--xs;
		line-height: 1;
		position:  relative;
		
		&::after {
			@include pseudo;
			top: 0 ;
			left: 0;
			right: 0;
			height: 5px;
			background: $color-default-inverse;
			transform: translateY(-25px);
			@include transition ($bezier); 
			opacity: 0;
		}
		
		&:hover {
			@include transition ($bezier); 
		}
			
		&:hover::after {
				transform: translateY(-20px);
				@include transition ($bezier); 
				opacity: .5;
					
		}
			
		
		
	}
	
	ul li.active > a {
		color: $color-accent-two;
		background: none;
	}//end active 
	
}//end user based 

////search button for nav
#usernav {
	
	
	.search.button {
		border: medium none;
		background: transparent url(#{$path-img}/search-icon.svg) no-repeat center center;
		margin: 0;
		box-shadow: none;
		border-radius: 0;
		height: 25px;
		width: 25px;
		padding: 0 $spacing--sm;
		
		&:hover {
			
		}
		
	}
}

////this is the megamenu styles here we go! 

.header #top-bar-menu ul.mega-menu li.has-dropdown-arrow > div.mega-menu-wrapper > div.mega-menu {
	@include inner;
	@include shadow-box;
	border-radius: $border-radius;
	z-index: 1;
	border: medium none;
	padding: $spacing--md;
	
	
	img {
		border-radius: $border-radius;
		@include box-shadow;
		border: 1px solid $color-secondary;
	}
	
	p.megatitle {
		@extend h1;
		position:  relative;
		font-size:  2.53rem;
		margin: 0 0 $spacing--sm 0;
		&::after {
			@include heading-border($color-secondary, 1px, 120px, -$spacing--xs );
		}
	}
	
	
	> div:nth-of-type(1) {
		padding-left: 0;
		width: 26%;
	}
	
	> div:nth-of-type(2) {
		width: 36.5%;
	}
	
	> div:nth-of-type(3) {
		padding-top: $spacing--sm;
		width: 36.5%;
		p {
			line-height: 2;
		}
	}

}

.header #top-bar-menu ul.mega-menu li.has-dropdown-arrow:nth-of-type(3) {
	
	> div.mega-menu-wrapper > div.mega-menu {
		///these are some styles for the treatment mega menu
		
		> div:nth-of-type(1) {
		padding-left: 0;
		width: 70%;
				
			ul > li.menu-item-has-children {
				width: 50%;
				float: left;
			} 
	}
	
	> div:nth-of-type(2) {
		width: 30%;
		p {
			line-height: 2;
		}
	}
		
	}//end menu wrapper 
}


.header #top-bar-menu ul.mega-menu li.has-dropdown-arrow > div.mega-menu-wrapper {
	background: none;
	transition: none;////this is when the mega menu fades out 
	//overflow: visible;
}

.header #top-bar-menu ul.mega-menu li.has-dropdown-arrow div.mega-menu-wrapper.showmenu, .header #top-bar-menu ul.mega-menu li.has-dropdown-arrow:hover > div.mega-menu-wrapper {
		transition: none;////this is when the mega menu fades in

}

////mobile only styles 
@include media("<tablet") {
	.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
	background: $color-default-inverse;
	border-radius: 2px;
	height: 3px;
}///end hamburger styles 
	
	#mobilemenu ul.menu li a{
		text-transform: uppercase;
		font-family: $font-main;
		letter-spacing: 1px;
	}
}







