#content .callout, blockquote {
	@include box-shadow;
	border: 1px solid #C2C9C5;
	padding: $spacing--sm; 
	background: $color-accent-four;
}//end callout and blockquote

#content .callout + .callout {
	margin-top: $spacing--sm;
}

#content .entry-content blockquote, #content .entry-content blockquote p, #content .entry-content blockquote em {
	@include font-sofia(1.6rem, $color-default, 300,  $lh: 2, $fontstyle: normal )
		
		cite {
			@extend p; 
			color: $color-secondary;
	}//end cite 
}///end blockquote

blockquote {
	margin: $spacing--sm 0;
}//end blockquote

#content .entry-content blockquote p > em, #content .entry-content blockquote p, #content .entry-content blockquote > cite, #content .entry-content blockquote  p em cite {margin-bottom: 0 !important;}

#content .entry-content blockquote, #content .entry-content blockquote.inverse  {	
	padding: $spacing--sm;
}




#content {
	
	@include media(">foundationmedium"){.content-shortcode-row {
		margin-left: -.9375rem;
		margin-right: -.9375rem;}//end shortocde row 
	}///negative margins for desktop
	

	ul.tabs {
		background: $color-default-inverse;
	}///end ul.tabs

	.tabs-panel {
		background: $color-accent-four;
		//border-top: 1px solid $color-secondary;
	}///end tabs-panel
	
	ul.tabs {
		li.is-active > a {
			background: $color-accent-four;
			color: $color-primary;

		}//end li a 


		li a:hover {
				background: $color-accent-four;
				color: $color-primary;
				@include transition ($bezier); 
			}///end hover state 
	}///end ul.tabs
	
	
	.tabs-content, ul.tabs {
		border-color: $color-secondary;
	}///end tabs-content  
	
	.accordion {
		@include box-shadow;
	
		border: 1px solid $color-secondary;
		border-color: $color-default-inverse;
		
		.accordion-item {
			border: none;
		}//end accordion item 
		
		.accordion-item a.accordion-title {
				background: $color-secondary;
				color: $color-default-inverse;
				//border-bottom: 1px solid $color-secondary;
				@include font-sofia(1.6rem, $color-default-inverse, 300,  $lh: 2, $fontstyle: normal )

			}///end accordion a 
		
		.accordion-item:last-child > a {
				border-bottom: none;
			}///end accordion item last child a 
		
		.accordion-title {
			
			
			&:focus {
				background: $color-secondary;
				color: $color-default-inverse;
			}
			
			&::before {
				margin-top: 0;
				top: calc(50% - 1.25rem);
				line-height:  inherit;
			}
		}//end .accordion-title
		
		&-content {
			background: $color-accent-four;
			padding: $spacing--sm;
			
			
		}///end accordion-content
	}///end accordion
	
}///end content 



