/* Scss Document */
#sidebar-container {
 
}
	
	#sidebarcontent.sticky.is-stuck.is-at-top {
		top: 150px !important; 
		//transition: top ease-in .5s;
		z-index:2;	
	}

#sidebar1 {
	.sidebarinside {
		@include shadow-box;
		padding: $spacing--sm;
	}//end sidebarinside
	
	h2.sidebarpagetitle {
		font-size: 1.6rem; 
		background: none;
		margin: 0 0 $spacing--lg 0;
		padding: 0;
		position: relative;
		
		&::after {
			@include heading-border;
		}
	}//end h2

	h4.widgettitle, .search-form {
		padding: 0;
	}
	
	h4.widgettitle {
		position: relative;
		margin: $spacing--xs 0 $spacing--md 0;
		font-weight:  600;
		
		&::after {
			@include heading-border($color-secondary,1px,120px, -$spacing--xs );
		}
	}//end widgettitle
	
	ul.menu {
		
		li.current_page_item > a {
			background: none;
			color: $color-accent-one;
			
		}//end li 
		
	> li a {
		padding: $spacing--xs / 2 0;
		font-size: 1rem;
		position: relative;
		display: inline-block;
		font-weight: 400;
		@include transition ($bezier); 
		line-height:  1.25;
		
			&::after {
								@include pseudo;
								content: "\f105";
								right:  -$spacing--sm;
								top: 6px;
								font-family: FontAwesome;
								opacity: 0;
								@include transition ($bezier); 
						}//end ::after on the mega menu sub menu
						
						
						
						&:hover {
							color: $color-accent-one;
							@include transition ($bezier); 
							padding-left: 5px;
							
							&::after {
								opacity: 1;
								right: -$spacing--sm + .25rem;
							}///end hover after effect
						}//end hover state 
						
	}//end li a 
		
		li > ul.sub-menu {
			padding: $spacing--xs - .33rem 0 $spacing--xs - .33rem $spacing--xs - .33rem;
			
			> li {margin-bottom: $spacing--xs / 5; 
				
				> a{font-size:  .875rem;}
				}///end li nested in sub menu
			
			li a::after {
				top: 0;	
			}	 
		}
		
	}//end .menu	
}///end sidebar1
