.divider, #content #inner-content .divider {
	@extend %clearfix;
	@include divider($color: #C2C9C5, $lineheight: 1px, $linewidth: none);
	box-shadow: none;
	
}
#main p > a, .entry-content > a, .accordion-content p > a, .wysiwyg p > a {
	text-decoration: underline;
}

#main a, .entry-content a, .wysiwyg a, .accordion-content a  {
	color: $color-accent-one;
	
	&.button {
		color: $color-secondary;
		text-decoration: none;
		
		&:hover {
			color: $color-default-inverse;
		}
	}
}

img.alignright {
	float: right;
	margin: $spacing--xs 0 $spacing--xs $spacing--xs;
	
	@include media("<tablet") {
		margin: $spacing--xs auto;
	}
}

img.alignleft {
	float: left;
	margin: $spacing--xs $spacing--xs $spacing--xs 0;
	@include media("<tablet") {
		margin: $spacing--xs auto;
	}
}

img.rounded {
	border-radius: $border-radius;
	@include box-shadow;
	
}

.menu .active > a {
	background: none;
	color: $color-accent-one;
}
.off-canvas-content {
	box-shadow: 6px 0px 12px rgba(0,0,0,0.12);
}

.off-canvas {
	background: none;
	
	.offcanvas-phone {
			background-image: $greengradient;
			color: $color-default-inverse;
			padding: $spacing--sm $spacing--sm $spacing--lg $spacing--sm;
			font-family: $font-main;
			line-height: 1.5;
			font-size: 1.28rem;
			font-weight:  300;
			margin-top: $spacing--xs;
		
		a {color: $color-default-inverse;}
		
		span.phone {
			font-size: 2.08rem;
			font-weight:  500;
			
		}
		
		}///end off canvas phone
	
	.menu {margin: 0 $spacing--sm;}//end menu
	
	
	.menu > li:not(:last-child){
		border-bottom: 1px solid $color-secondary;	
	}///end list item 
	
	.menu > li > a {
		padding: $spacing--xs 0;
		
		&:hover, &:focus {
			color: $color-primary;
			
		}///end pseduo states 
		
		&:focus {
			font-weight:  700;
		}
	
	}///end links 
	.menu > li > .submenu, .menu > li > .submenu > li > .submenu {margin: 0 0 $spacing--xs $spacing--xs / 2;}
	
	.menu > li > .submenu > li a {
		font-size: 1rem;
		padding: 4px 0;
		line-height: 1.25;
	}
	
	.menu > li > .submenu > li > .submenu a {
		font-size: 1rem;
	}
	
	
	.is-accordion-submenu-parent > a::after {
		border-color: $color-secondary transparent transparent;
		border-radius: 1px;
	}///accoridion dropdown 
}////end off-canvas

@keyframes fade-up {
	from {
		opacity: 0;
		transform: translateY(30px);
		
	}
	
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}



