/****============ 02 LAYOUT ============****/

/**----- 02 LAYOUT // 2.1 Global Layout elements -----**/
body, .off-canvas-content {background-color: $color-default-inverse;}

.inner, .module .inner {
	@include inner;
}

#content.page--landing .entry-content, #content.page--default .entry-content, #content.page--formatting .entry-content {
	@include shadow-box;
}
.deck, .duo, .wysiwyg--content, .staff, .wysiwyg {}


.article-header {
	background-image: $pagebg-drkpurple;
	padding: $spacing--xl * 1.25 + $spacing--xl 0 $spacing--xl * 1.75 0;
	top: $top-pull;
	
	
	h1.page-title {
		@include inner;
		@include font-sofia(3rem, $color-default-inverse, 500, 1.5, normal);
		text-align: left;
		
		&::after {@include heading-border($color-default-inverse);}
	}
	
}

.article-header.heading--purple {
	background-image: $lightpurplegradient;
}

.article-header.heading--darkpurple {
	background-image: $pagebg-drkpurple;
}

.article-header.heading--green {
	background-image: $greengradient;
}

.no-top {
	margin-top: 0 !important;
}

    /** 02 LAYOUT // 2.4 Page & Content// A. Modules **/
.module {
	position: relative;
	z-index: 1;
	&:not(:first-of-type) {
		margin-top: $spacing--xl;
	}
	
}

.deck--no-top {
		@extend .no-top;
	}


///default page layout 
#content.page--default, #content {
	
	top: -13px;
	#main, .entry-content {
		padding: 0 $spacing--sm 0 0;
	}
}

body.single #content.page--resources .entry-content {padding: 0;}

#content.page--resources {
	#sidebar1 {
		
		.sidebarinside {
			box-shadow: none;
			border: none;
			padding: 0;
			background: none;
		}///end sidebar inside 
		
		#archiveList {
			ul {padding: 0;
				font-size: .875rem;
				
				li a:hover {
					color: $color-primary;
				}
			}
		}//end #archiveList
	}//end sidebar for resources 
	#main {top: -$spacing--xl * 2;}
	
	.post_holder {
		@include shadow-box($spacing--sm);
		margin-bottom: $spacing--md;
		.post.even .columns {
			float: left;
		}
		
		h2 {
			text-transform: none;
			a {
				color: $color-default;
				@include transition ($bezier); 
				display: inline-block;
				
				&:hover {
					color: $color-primary;
					@include transition ($bezier); 
					padding-left: .33rem;
					
				}// end hover 
			}///end link
		}//end h2 
		
		
		
		p, h2 {
			margin-bottom: $spacing--sm;
		}
		
		.has-post-thumbnail .featured_image a {
			position: relative;
			z-index: 1;
			display: block;
			
			&::before {
				@include pseudo;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				background: rgba(108, 73, 115, 0.5) url(#{$path-img}/arrow-circle.svg) no-repeat center center / 25px auto;
				transition: background .3s ease, opacity .3s ease, scale .5s cubic-bezier(.19,1,.22,1);
				opacity: 0;
				
			}//end before
			&:hover {
				transform: scale(1.025);
				@include transition ($bezier); 
				@include box-shadow;
			}
			
			&:hover::before {
				opacity: 1;
				
			}//end link hover for image
		}//end image
	
	}//end .post__holder
	
	///start resources sidebar 
	
	
	
}/// end page resources 


///some stuff for the modules 
#content.page--landing .wysiwyg--content--first-module {
	margin-top: -$spacing--xl * 2;
	padding: 0;
	
	.entry-content {
		padding: 0;
		p, .flex-video.widescreen {
			margin: 0;
		}
	} 
	
}

#content.page--landing .contact {
		margin-top: -$spacing--xl * 2;
}
 

.module.spotlight {
	&--top-pull {
		position: relative;
		z-index: 0;
		margin: 0;
		
		&::after {
			@include pseudo;
			background: $color-accent-one;
			height: $spacing--xxl;
			left: 0;
			right: 0;
			top: -$spacing--xxl;
			z-index: 0;
			
			@include media ("<tablet") {
				content: none;
			}//change on mobile 
		}
	}
}

.module.wysiwyg--content {
	&--top-pull {
		position: relative;
		z-index: 0;
		margin: 0;
		
		&::before {
			@include pseudo;
			background: $color-accent-one;
			height: $spacing--xxl;
			left: 0;
			right: 0;
			top: 0;
			z-index: 0;
		}
	}
}


/****home page styles***/
#content.page--home {
	background: $color-accent-one $darkpurplegradient-reverse no-repeat 0 0;
	
	.billboard {
		
	}
	//end billboard 
	
	.module.deck--icon:nth-of-type(2) {
		margin-top: 0;
		top: -$spacing--xl * 2;
	
		
	}///end deck
	
	.deck {
		.module__header {
			background: none;
			padding-top: $spacing--lg;
		}//end module__header
		
		.module__header::before {
			background:none;
		}
		
		.module__header::after {
			
			
			@include pseudo;
			background: $color-default-inverse;
			bottom: 0 !important;
			top: $spacing--xxl * 2;
			left: 0;
			right: 0;
			z-index:  0;
		}
	}//end deck
	
	
	.spotlight {
		background: none;
		padding: 0;
		margin: 0;
		top: -$spacing--xl;  
			
	}///end spotlight
	
	.flexible-content {
	}
	
	.duo--light  {
		max-width: none;
		box-shadow: none;
		border: none;
		background: $color-default-inverse;
		padding-bottom: 0;
		
		.inner {
			@include box-shadow;
			border: 1px solid $color-secondary;
		}
		
		&::before {
		@include pseudo;
			background: $color-default-inverse;
			bottom: 0;
			top: -$spacing--xl;
			left: 0;
			right: 0;
			z-index:  0;	
			
			@include media("<tablet") {
				top: 0;
			}
		}
		
	}
}///end #content.page--home


/*********events page styling********/ 
.events-archive .entry-content, .events-archive .entry-header {width: 100%;}

#content.page--events {
	#tribe-events-bar {
		@include shadow-box; 
		margin-top: -$spacing--xxl * 2;
		
		#tribe-bar-form {
			background: $color-default-inverse;
			
			font-family: $font-main	!important;
			font-weight:  500;
			font-style: normal;
			
		}///end tribe-bar-form
	}//end tribe events bar 
	
	.tribe-bar-submit {margin-top: $spacing--sm + .4;}
	
	input {
		border-radius: $border-radius;
		border: solid 1px $color-secondary;
		padding: $spacing--xs;
		color: $color-secondary;
		
		&::-webkit-input-placeholder {
			color: $color-default;
		}  
		
		&:-moz-placeholder {color: $color-default;}
		&::-moz-placeholder {color: $color-default;}
		&:-ms-input-placeholder {color: $color-default;}
		
		&:focus {
			outline: none;
			box-shadow: 0 0 2px 2px rgba(0,0,0,0.12) inset;
		}
   
		
	}
	
	.tribe-bar-search-filter br, #tribe-bar-dates br {
				display: none;
}///end br for the labels 
	
	
	.tribe-bar-submit {
	input {
		@extend .button;
		padding:  $spacing--xs;
		font-family: $font-secondary !important;
		text-transform: none;
	}
}///end submit bar 
	
	#tribe-events-content {
		.tribe-events-page-title {
			margin: $spacing--lg auto;
			text-align: left;
		}///page title 
		
		.tribe-events-loop {
			max-width: $container;
			@include shadow-box;
		}
		
		.tribe-events-list-separator-month {
			@extend h1;
			background: none;
			padding-left: 0;
			margin-bottom: $spacing--md;
			
			
			span {
				background: none;
				padding: 0;
			}
			
			&::after {
				max-width: 120px;
				bottom: -$spacing--sm;
				top: auto;
				border-color: $color-secondary;
			} 
		}
	}///tribe events content 
	
}//end content wrapper 


#tribe-bar-form label {
				color: $color-secondary !important; 
				font-size: 1.5rem;
				text-transform: none;
				margin-bottom: $spacing--xs;
}//end label


/*****start single staff page styling ******/
#content.page--staff--single {
	min-height:  300px;
	
	.staff__member {
		@include shadow-box;
		margin-top: -$spacing--xl * 2;
		
		&__info {
			h2 {
				font-size: 1.5rem;
				margin: $spacing--sm 0 $spacing--xs 0;
				padding-right: $spacing--xs;
				
			}//end h2 
			
			h3 {
				font-size: 1rem;
				
			}//end h3 
		
			&__photo {
				@include box-shadow;
				border: solid 1px $color-default-inverse;
				width: 250px; 
				height: 250px;
				overflow: hidden;
			}///end photo holder
			img {
				
			}
			
		}
	}
}




