/****================= 04 MEDIA QUERIES =================****/

/**------ MEDIA QUERY for anything equal to or smaller than 1024px ------**/
@include media ("<=desktop") {
	#phonemobile {
		display: none;
	}
	
	#mobilemenu {
		background: transparent;
	}
		.module .large-up-4 > .card--icon:nth-child(2) > .card__holder {border-bottom: 1px solid $color-accent-one; border-right: none;}
	.module .large-up-4 > .card--icon:nth-child(1) > .card__holder {border-bottom: 1px solid $color-accent-one;}
	
	
}



/**------ MEDIA QUERY for anything equal less than or equal 1024px and greater than 768px so in other words 769px - 1024px ------**/
@include media ("<=1040px",">tablet") {
	///this is some special stuff for the header on the desktop
	
	.header.sticky #top-section #top-bar-menu ul li a {
		padding: 1.66rem .875rem;
		font-size: 1rem;
	}
	
	
	#user-based ul li a {
		font-size: .88rem;
	}
	.billboard__holder {padding-left: 1rem; padding-right: 1rem;}
	

	
	.module--custom .cta-box, .module--custom .slider__container blockquote {
		padding-left: $spacing--sm;
		padding-right: $spacing--sm;
	}
	
	#usernav {width: 75%;}
	#callinfo {width: 25%; 
		#phone h1 {text-align: right;}
	}
	
}///end media query


/**------ MEDIA QUERY for less than 768px, this is the mobile dropoff point ------**/
@include media("<tablet") {
	.off-canvas-content {
		position: relative;
	}
	
	.header.sticky #top-section #logo {max-width: 200px;}
	
	#content.page--landing .module:not(:first-of-type) {
		margin-top: 0;
	}
	.nmp {
		padding: $spacing--md $spacing--sm;
	}
	
	.footer__modules, footer {
		position: relative;
	} 
	.footer__modules {
		
		
		#callnow  {
			padding: $spacing--md $spacing--sm;
			min-height: 0;
			
			.inner {
				h1 {
					font-size: 3.04rem;
					img {display: block; margin: 0 auto $spacing--sm; }
				}
				
				.callnow__logo {
					max-width: 230px;
					margin: auto;
					padding-top: $spacing--xl;
				}///end call now logo 
				
			}///end call now inner 
		}///end call now
		
		#location  {
			
			.inner {
				border-top: medium none;
				border-right: medium none;
				border-bottom: 1px solid $color-default-inverse;
				border-left: medium none;
				
				top: 0;
					
				
				.location__content {
					@extend .nmp
				}
			}///end #location inner 
		}///end #location 
		
		.logo-section {
			@extend .nmp; 
			.inner { 
			.column {margin-bottom: $spacing--xs + .6;}
				}///end logo-section inner 
		}///end logo-section
	}///end footer modules 
	
	///start footer 
	.footer {
		
		
		
		.newsletter {max-width: 230px; margin: 0 auto $spacing--lg + .8rem; 
				.button {display: block; margin:  0;}
			}///end newsletter 
		
		.inner .footer-branding {
		
			padding: 0;
		}
		.frn_footer, .tricare-text {
		  	padding: $spacing--xs;
			
		}///end frn_footer 
	}///end footer 
	
	
	////home page sepcific changes 
	
	#content.page--home {
		
		top: 0;
		
		
		 .module.deck--icon:nth-of-type(2) {
			margin-top: -$spacing--xxl * 2;
			 //padding-bottom: $spacing--lg ;
			 top: 0;
		}
		 
		.duo--inverse {
			margin-top: 0;
		} 
		
		
		.deck .module__header {
			padding-top: 0;
		}
		
		.deck--icon {
				
			.module__header::after {
				left: -$spacing--sm;
				right: -$spacing--sm;
				top: 165px;
				bottom: -$spacing--xxl !important;
			}/////end module__header 
		}//////end deck--icon 
		
	}////end stuff specific to home page 
	
	/////GENERRIC MODULE CHANGES SITEWIDE ////////
	
	#content.page--home .spotlight, .spotlight {
			@extend .nmp; 
			top: 0;
			font-size:  1.84rem;
		}
	
	#content.page--landing .entry-content, #content.page--default .entry-content, #content.page--formatting .entry-content {
		@extend .nmp;
	}
	
	.duo:first-of-type, #content.page--landing .wysiwyg--content--first-module, #content.page--staff--single .staff__member, .wysiwyg--content--no-top {
		margin-top: 0;
		top: 0;
	}
	////////DUO CHANGES 
	.duo .card--duo, .spotlight, .wysiwyg, .wysiwyg-content, .footer {
		@extend .nmp; 
	}
	.spotlight {
		padding-bottom: $spacing--lg + .8;
	}
	
	.duo--inverse {
		outline: none;
		border-bottom: 1px solid $color-accent-three;
	}
		
	
	.duo {
		
		border: medium none;
		
		.duo__media {
				.duo__img {
					min-height: 265px;
				}///end duo_img 
			
			.bx-viewport .slide--duo {
					min-height: 265px;
				}///end duo_img 
		}///end duo media 
		
		
	}///end duo 
	
	
	////////////DECK CHANGES 
	.module.deck {
		
		.card--highlight {padding: 0;}
		.card--highlight:not(:last-child) .highlight__box {
			margin: 0;
		}
		
		.card--basic .card__holder {
			padding: $spacing--lg $spacing--sm;
		}
		
		.module__header {
			padding: $spacing--sm;
		}///end module__header 
	}///end deck 
	
	#content.page--landing .deck--icon {
				padding-bottom: $spacing--md;
		
			.module__header::before {
				left: -$spacing--sm;
				right: -$spacing--sm;
				
			}/////end module__header 
		}//////end deck--icon 
	
	.deck--basic,.staff--carousel .inner, .module.contact .contact__content, #content #main, #content.page--default #main {
		@extend .nmp;
	}
	
	#content.page--resources .entry-content, #content.page--staff .entry-content {padding: 0;}
	
	////staff carousel 
	.staff--carousel .inner .staff__card {max-width: 100% !important;}
	
	
	////contact module 
	.module.contact .inner {
		border: medium none;
	}
	
	#content.page--landing .contact {
		margin-top: 0;
		top: 0;
		.acf-map {
			height: 265px;
		}
	}
	
	

	
	
	//////////////LANDING PAGE STYLES 
	.article-header {
		padding: $spacing--xl * 2 $spacing--sm $spacing--xxl;
		top: 0;
		margin-top: $top-pull;
		//h1.page-title {font-size:  2.4rem;}
	}
	
	
	
///////deafult page styles 
#content {top: 0;}
#content.page--default {
	top: 0;
	
	#inner-content {
		
		margin-top: 0;
		
		#main {@extend .nmp;}
		
	}
}

///resources page styling 

#content.page--resources {
	
	#main {
		top: 0;
		padding: 0;
			
		.post_holder {
			padding: $spacing--xs;
		}
	}
}///end resources page 


////events styling 
#content.page--events {
	#tribe-events-bar {
		margin-top: 0;
	@extend .nmp;
	}//end tribe events bar
	
	
	.entry-content {
		padding: $spacing--xs;
	}
	#tribe-bar-collapse-toggle {
		background: $color-secondary;
		color: $color-default-inverse;
	}
	
	.tribe-events-sub-nav {
		display: none;
	}
	
	#tribe-events-content .tribe-events-loop {padding: $spacing--xs;}
}

	////single staff page styling 
	#content.page--staff--single .staff__member {
		padding: 0;
		box-shadow: none;
		border:  none;
		margin-top: $spacing--sm;
	}
	
	
	.insurance {
		padding-left: $spacing--sm;
		padding-right: $spacing--sm;
		padding-bottom: $spacing--sm;
	}
	
	
} ///media query for smaller than Tablet size = 767px and down


/**------ MEDIA QUERY for weird no man's land because of Foundation breakpoint for medium devices. This covers between 641px - 767px ------**/
@include media (">foundationmedium","<tablet") {
	//640 to 768
	/****weird tweener with foundations ***/
	
	
	.header #top-bar-menu ul li a {font-size: 1rem;}
	#user-based ul li a {font-size: .875rem;}
	
	.module .card--icon .card__holder {
		padding: $spacing--md;
	}
	#mobilemenu .hamburger {
	padding: 0;
	width: 100%;
	line-height: 0;
	outline: 0;
}
	#mobilemenu {
	border-left: medium none;
	float: right;
	height: 5rem;
	max-width: 5rem;
	padding: 1rem;
}
	
	#rightcontent {display: none;}
	#mobilemenu {display: block !important; max-width: 5rem; float: right;}
	#mobilemenu ul li {display: block; padding-bottom: 10px;}
	#mobilemenu ul li a {text-align: center; padding: 0; color: $color-default-inverse;}
	#globalheader.sticky {
		position: absolute !important; 
		background: none !important;
		width: 100%;
		
		#top-section {
		  &::after {content: none !important;}
			}///end top section
	}///sticky header
	#sidebar1 {display: none;}
	#main {width: 100%; left: 0;}
	
	#content.page--landing .module:not(:first-of-type), .footer__modules {margin-top: $spacing--sm;}
	
	
}///end weird tweener breakpoint


/**------ MEDIA QUERY for anything equal to or smaller than 640px, Foundation Framework "small" breakpoint------**/
@include media("<=foundationmedium") {
	.module.deck {
		.card {
			&__header--icon {
				float: left;
				width: 93%;
				margin-top: 0;
				margin-left:1%;
				text-align: left;
				padding-left: $spacing--xs;
			}///icon card header 
		}//end card 
		
		.card--highlight:not(:last-child) .highlight__box {
			margin-bottom: 5px;
		}
	}//end deck
	
	.footer {
		
		.social-container {
			max-width: 230px;
			margin: auto;
			a.button {
				margin-bottom: 10px;
			}//end social button
			
		}//end social container 
	}///end footer
	
	.footer__modules {
		
		.module--custom .inner {bottom: 0; border-left: medium none; border-right: medium none;}
		
		.module--custom .slider__container {
				
		
		blockquote {
			padding: $spacing--md $spacing--sm;
			height: 310px;	
			}//end blockquote
		
			
		}//end slider container
		.module--custom .cta-box {
			padding: $spacing--lg;
			
			
			h1 {
				max-width: 200px;
			}//end h1 
		}///end cta-box 
		
		#location {
			.map-container .acf-map {max-height: 265px;}
		}//end location 
		
	}//end footer_modules 
	
}///end 640px media query


/**------ MEDIA QUERY for anything equal to or greater than 768px but less than 1200px ------**/
@include media (">=tablet","<large") {
	
		/***between 768 and 1200px***/
	.header #top-bar-menu ul li a {font-size: 1rem;}
	#user-based ul li a {font-size: .875rem;}
	
	/**billbaord adjustments**/
	.billboard__holder {
		 background-position: 72% center;
	}
	
	.header #top-bar-menu ul.mega-menu li.has-dropdown-arrow > div.mega-menu-wrapper > div.mega-menu > div:nth-child(1) {
		display: block;
		width: 35%;
	}
	.header #top-bar-menu ul.mega-menu li.has-dropdown-arrow > div.mega-menu-wrapper > div.mega-menu > div:nth-child(2) {
		display: block;
		width: 65%;
	}
	.header #top-bar-menu ul.mega-menu li.has-dropdown-arrow > div.mega-menu-wrapper > div.mega-menu > div:nth-child(3) {
		display: none;
	}
	
	.spotlight .inner, .billboard__holder, .deck .inner, .footer .inner, .article-header, .wysiwyg--content, .wysiwyg, #content.page--landing .wysiwyg--content--first-module, .insurance .inner, #content.page--resources #main, #content #main, #content .entry-content, #content.page--default #main, #content.page--default .entry-content, .module--custom {
		padding-left: $spacing--sm; padding-right: $spacing--sm; 
	}///end spotlight 
	
	.header.sticky #top-section #logo {
		padding-left: $spacing--sm;
		
	}
	
	.module--custom .slider__container blockquote {font-size: 1.35rem;}
	
	
	
	.header #top-bar-menu ul.mega-menu li.has-dropdown-arrow > div.mega-menu-wrapper > div.mega-menu {
		padding: $spacing--sm;
	}
	
	#callinfo {
		
	}
	
	.staff--carousel .inner .staff__card {max-width: none !important; }
	

	
}////end desktop to max container width of 1200px



/**------ 04 MEDIA QUERIES // 4.4 Very Small (340px and down)  ------**/
@include media ("<375px") {
	html {font-size: 11.5px;}
}

/**----- 04 MEDIA QUERIES // 4.5 @Media Print Specific Styles -----**/ 
@media print {
}