///color tint mixin 
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

///clearfix mixin
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

////this is a mixin for gradients to include vendor prefixes and IE fallbacks 

//web transition mixin
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

///cross browser opacity 
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}




///psuedo class mixin 
@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}
//inner class 
@mixin inner ($max-width: $container) {
	@if $max-width {max-width: $max-width;}
	margin: auto;
	position: relative;
	width: 100%;
}

///font-family mixin 
@mixin font-nunito-sans($size: 1.066rem, $colour: $color-default, $weight: 500,  $lh: 2, $fontstyle: normal) {
    font-family: $font-secondary;
    @if $size { font-size: $size; }
    @if $colour { color: $colour; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
	@if $fontstyle { font-style: $fontstyle; }
}

///font-family mixin 
@mixin font-sofia($size: 2rem, $colour: $color-default, $weight: 500,  $lh: 1.25, $fontstyle: normal ) {
    font-family: $font-main;
    @if $size { font-size: $size; }
    @if $colour { color: $colour; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
	@if $fontstyle { font-style: $fontstyle; }
}

///specific type of heaer 
@mixin all-caps-heading {
		@include font-sofia(1.53rem, $color-default-inverse, 500, 2, normal);
		text-align: left;
		text-transform: uppercase;
		letter-spacing: 3px;
		margin-bottom:  $spacing--md;
	}

///box-shadow mixin
@mixin box-shadow {
	box-shadow: 0 6px 12px rgba(0,0,0,0.12);
}
//this creates a box 
@mixin shadow-box ($shadowboxpadding: $spacing--lg, $background: $color-default-inverse) {
	@include box-shadow;
	@if $shadowboxpadding {padding: $shadowboxpadding;}
	border: 1px solid $color-secondary;
	@if $background {background-color: $background;}
	
	@include media("<tablet") {border-left: medium none; border-right: medium none;}
} 
///this makes a little border under the headings 
@mixin heading-border ($linecolor: $color-secondary, $lineheight : 1px, $linewidth: 120px, $bottompull:  -$spacing--sm ) {
	@include pseudo;
	left: 0;
	right: 0;
	width: 100%;
	@if $bottompull {bottom: $bottompull;}
	@if $linewidth {max-width: $linewidth;}
	@if $linecolor {background-color: $linecolor;}
	@if $lineheight {height: $lineheight;}
}


///divider styles 
@mixin divider($color: $color-default, $lineheight: 1px, $linewidth: 120px) {
	margin: $spacing--sm 0;
	@if $linewidth {max-width: $linewidth;}
	@if $color {background-color: $color;}
	@if $lineheight {height: $lineheight;}
}

///for placeholder text 
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}





