

// Variables



// COLORS
// name your colors here

$tan		: #EEECE6;
$grey		: #6F6E6E;
$placeholder: #999999;
$greenishblue: #819394;
$lightpurple: #94618E;
$gold: #FDF2D1;
$cfcorange: #EB8B2D;
$darkpurple: #6C4973;
$tanpurple: #C1B3BF;
$lighttan: #F6F5F2;

$color-primary			: $lightpurple;
$color-secondary		: $greenishblue;
$color-default			: $grey;
$color-default-inverse	: $tan;
$color-accent-one		: $darkpurple;
$color-accent-two		: $gold;
$color-accent-three   	: $tanpurple;
$color-accent-four   	: $lighttan;


//Gradients 
$darkpurplegradient: linear-gradient(-145deg, #5A336A 0%, #5C366B 50%, #755377 100%);
$darkpurplegradient-reverse: linear-gradient(145deg, #5A336A, #755377);
$pagebg-drkpurple: linear-gradient(145deg, #7A6194 0%, #755377 100%);
$greengradient: linear-gradient(259deg, #819394 0%, #506B6D 95%);
$lightpurplegradient:linear-gradient(145deg, #94618E 0%, #93608D 3%, #93608D 3%, #7D487A 100%);




///layout 
$container: 1200px;
$border-radius: 12px;
$top-pull: -113px;

// FONTS
$baseline: 15px;
$mobilebaseline: 12.5px;


$font-main		: "sofia-pro",sans-serif;
$font-secondary	: 'Nunito Sans', sans-serif;

// PATHS
$path-img		: '../images/compressed';
$path-font		: '../fonts';

//animation options 
$bezier : all 500ms cubic-bezier(0.19, 1, 0.22, 1); 


///spacing variables 
$spacing--xs: 1rem;//15px computed
$spacing--sm: 2rem;//30px computed
$spacing--md: 3rem;
$spacing--lg: 4rem;
$spacing--xl: 6.66rem;
$spacing--xxl: 8.66rem;