/**----- 01 TYPOGRAPHY // 1.1 Global Typography Settings-----**/
html {
    /**font-size: 15px ; this font size determines the baseline for all padding,margin, font sized units using ems or rems throughout the entire theme*/
	font-size: $baseline;
	
			@include media("<tablet") {
				font-size: $mobilebaseline;

		}
}
body {
	@include font-nunito-sans;

}

/**----- 01 TYPOGRAPHY // 1.2 Headings -----**/
h1, h2, h3, h4, h5, h6 {
	@include font-sofia;
	text-align: left;
	margin:  $spacing--xs 0;
}
h1 {
		color: $color-secondary;
		font-size: 2rem;
	}

h2 {
	color: $color-primary;
	font-weight:  500;
	
}
h3 {
	font-weight:  400;
	font-size: 1.73rem;
}

h4 {
	@extend h3;
	font-size: 1.46rem;
}

h5 {
	@extend h4;
	font-size: 1.2rem;
	letter-spacing: 1.2px;
	text-transform: uppercase;
}

h6 {
	font-size: 1.125rem;
	font-weight: 600;
}

strong {
	font-weight: 600;
}


.module.wysiwyg--content, .page--formatting, .page--lading, .page--default {
	h1 {
		@extend h1;
		font-size: 2rem;
	}
	
	h2 {
		
	}
}//end wysiwig content 

/**----- 01 TYPOGRAPHY // 1.3 Paragraphs, Blockquotes -----**/
p {
	@include font-nunito-sans;
	
			@include media("<tablet") {
			font-size: 1.28rem;	
		}///redefines font size on mobile
	
	 }
#content .accordion-title, #content .callout, #content .content-shortcode-row, #content .entry-content ol, #content .entry-content p, #content .entry-content ul, #content .tabs-title > a, .header #top-bar-menu, #content .entry-content, #main ul, #main ol {
	@include font-nunito-sans;
	
	@include media("<tablet") {
		font-size: 1.28rem;	
	}///redefines font size on mobile
}

/**----- 01 TYPOGRAPHY // 1.4 List Items -----**/
ul {
	list-style-type: disc;
	
	
	
}

/**----- 01 TYPOGRAPHY // 1.5 Miscellaneous Inline Items  -----**/


/**----- 01 TYPOGRAPHY // 1.6 Modules  -----**/

.module {
	h1 {
		//font-size: 3rem;
	}
	.card__header  {
			color: $color-secondary;
			font-size:  2.4rem;
			position:  relative;
			margin-bottom: $spacing--lg;
			letter-spacing: .0096rem;

			&::after {
				@include heading-border;
			}
	}
	
	&__header  {
		
		h1 {
		@include all-caps-heading;
		}
	}
}//end .module 











