/****================== 03 UI ELEMENTS ==================****/

/**----- 03 UI ELEMENTS // 3.1 Buttons -----**/
#content a.button {
	text-decoration: none;
	
	&:focus {color: $color-default-inverse;}
	
	&.share {
		span {display: block;}///end span 
	}//end share button 
}///end #content .button

.button {
	border-radius: $border-radius; 
	border: 2px solid $color-secondary;
	background: transparent;
	color: $color-secondary;
	font-size: 1.2rem;
	line-height:  1;
	font-weight:  600;
	text-decoration: none;
	@include transition (all 500ms cubic-bezier(0.19, 1, 0.22, 1)); 
	
	@include media("<tablet") {
		font-size: 1.44rem;
	}
	
	&:hover {
		
		background: $color-secondary;
		color: $color-default-inverse;
		@include transition (all 500ms cubic-bezier(0.19, 1, 0.22, 1));
		border-radius: $border-radius + 6px;
		@include box-shadow;
	}
	&:active {
		
	}
	&:focus {
		color: $color-default-inverse;
		background: $color-secondary;
	}
	
	&--duo, &--insurance {
		position: relative;
		padding-top: $spacing--xs + .33rem ;
		padding-right: $spacing--lg + $spacing--sm;
		padding-bottom: $spacing--xs + .33rem;
		padding-left: $spacing--sm;

	
		&::after {//duo button
			@include pseudo;
			height: 100%;
			background: transparent;
			top: 0; 
			right: 0;
			bottom: 0;
			border-left: 2px solid $color-secondary;
			width: $spacing--lg;
			background:  url(#{$path-img}/arrow-right.svg) no-repeat center center/ 10px 19px;
		}
		
		&:hover::after {
			border-color: shade($color-secondary, 20%);
			background:  url(#{$path-img}/arrow-right-hover.svg) no-repeat center center/ 10px 19px;
			@include transition (all 500ms cubic-bezier(0.19, 1, 0.22, 1)); 
		}
		
		&:hover {
			margin-left: .33rem;
		}
		
		&:hover {
			
			
		}//end before state 
		
	}
	
	
	
	
}///end button 


#backtop {
				z-index: 2;
				@include box-shadow;
				background: $color-default-inverse none no-repeat 0 0;	
				padding: 0;
				width: $spacing--lg;
				height: $spacing--lg;
				border-radius: $spacing--lg / 2;
				@include transition ($bezier); 
				border: medium none;
	
	i {
		line-height:  1;
		color: $color-primary;
	}
	
}
///input styling 
input {
	color: $color-default;
		&::-webkit-input-placeholder {color: $color-default; font-size: 1rem;}  
		&:-moz-placeholder {color: $color-default; font-size: 1rem;}
		&::-moz-placeholder {color: $color-default;font-size: 1rem;}
		&:-ms-input-placeholder {color: $color-default; font-size: 1rem;}
}


////this is the modal video popover styling 

.reveal-overlay {
	background: rgba(67,38,74,.85);
}

#home-video.reveal {
	box-shadow: 0px 6px 55px rgba(0,0,0,0.3);
	max-width: $container;
}
#home-video.reveal .close-button {
	background: $color-default-inverse; 
	color: $color-primary;
	padding: $spacing--sm;
}

///search popover from the header 
#header__searchform {
	background: $darkpurplegradient;
	
	.inner {
		padding: 20vh 0;
	}
	
		p {
			color: $color-default-inverse;
			text-align: center;
			margin: $spacing--xl 0;
			font-size: 2rem;
			font-weight: 500;
    		line-height: 1.25;
    		font-style: normal;
    		font-family: sofia-pro,sans-serif;
		}//end h1 
	
	.button--close {
		@include box-shadow;
		background: $color-default-inverse;
		border-radius: $spacing--lg / 2;
		height: $spacing--lg;
		width: $spacing--lg;
		color: $color-primary;
		top: 10%;
		&:hover {
			@include transition ($bezier); 
			color: $color-default-inverse;
			background: $color-primary;
			box-shadow: 0 6px 35px rgba(0,0,0,.3);
		}
	}//end button close 
	
	.search-form {
	
	input {
		background: $color-default-inverse;
		border: 1px solid $color-accent-three;
		float: left;
		height: $spacing--lg;
		
		
		&::-webkit-input-placeholder {color: $color-default;}  
		&:-moz-placeholder {color: $color-default; }
		&::-moz-placeholder {color: $color-default; }
		&:-ms-input-placeholder {color: $color-default;}
	}///end input
	 
	input.search-field {
		width: 80%;
		border-radius: $border-radius 0 0 $border-radius;
		border-right: medium none;
	}
	input.search-submit {width: 20%; border-radius:  0 $border-radius $border-radius 0; background: $color-primary; color: $color-default-inverse; border-left: medium none;}
	}//end .search form
}///end header search form 

///sidebar search form 


#content #sidebar1, #offcanvas_search {
		.search-form {
			input {
				background-color: $color-default-inverse;
				color: $color-default;
				border-radius: $border-radius 0 0 $border-radius;
				border: 1px solid $color-secondary;
			}//end inout for search form
			
			input.search-submit {
				background-color: $color-secondary;
				color: $color-default-inverse;
				border-radius:  0 $border-radius $border-radius 0; 
			}
		}//end search-form 
	
	select {background-color: $color-default-inverse; border-color: $color-secondary; color: $color-default;}
	
	}///end sideabr and off canvase search styling

#offcanvas_search {
	.search-form {
		padding: $spacing--sm;
	}
		input {
			height: 45px;
		}///end input 
	
	.search-submit.button {
		background-size: 20px auto;

		}///search submit button 
	
}///end #offcanvas_search

//pagination 
#content .page-navigation {
	margin: 0 0 $spacing--sm 0;
	
	.pagination li {
		background: $color-default-inverse;
			a, span {border: 1px solid $color-secondary; border-radius: $border-radius; padding: 10px 20px;  @include transition ($bezier);}
			a:hover {background: $color-secondary; color: $color-default-inverse; @include transition ($bezier); border-radius: 18px;}
		}// end .pagination li 
	
	.pagination .current span {
				background: $color-secondary;
				color: $color-default-inverse;
			}
}//end pagination

/****orbit slider buttons****/

#content .orbit-previous, #content .orbit-next {
				
				z-index: 2;
				@include box-shadow;
				background: $color-default-inverse url(#{$path-img}/arrow-right-carousel-dark.svg) no-repeat center center / 13px auto;	
				padding: $spacing--xs;
				width: 50px;
				height: 50px;
				border-radius: $border-radius * 2 + 1px;
				@include transition ($bezier); 
				text-indent: -999rem;	
	
			
	}/// bx slider controls 

	
			

	#content .orbit-previous {
					left: $spacing--xs;
					background-image: url(#{$path-img}/arrow-left-carousel-dark.svg);
					background-position: 45%;
						
				}
				
    #content .orbit-next {
					right: $spacing--xs;
					background-position: 55%;
					
				}

	#content .orbit-previous:hover {
					@include transition ($bezier); 
					padding: $spacing--xs;
					top: calc(50% + 2px);
					box-shadow: none;
					background: $color-default-inverse url(#{$path-img}/arrow-left-carousel-dark.svg) no-repeat center center / 13px auto;
				}
 
#content .orbit-next:hover {
					@include transition ($bezier); 
					padding: $spacing--xs;
					top: calc(50% + 2px);
					box-shadow: none;
					background: $color-default-inverse url(#{$path-img}/arrow-right-carousel-dark.svg) no-repeat center center / 13px auto;
				}

